openapi: 3.0.1
info:
  description: |
    API REST exposant diverses données liées aux serveurs de NationsGlory.

    ## À propos
    Cette API centralise et expose différents types de données relatives aux serveurs de NationsGlory :
    - **Routes `/v2/java/*`** : Données collectées par scraping direct sur les serveurs Java de NationsGlory. Pour cela, le protocole 78 (Minecraft 1.6.4) est pleinement utilisé.
    - **Autres routes** (à venir) : Données obtenues par d'autres méthodes (API officielles, DynMap, etc.)

    ## Authentification
    L'API utilise le flux OAuth2 Client Credentials. Pour vous authentifier :
    1. Obtenez vos identifiants client (client_id et client_secret) depuis le serveur d'authentification de Yoxo
    2. Demandez un jeton d'accès : `POST https://auth.yoxo.software/oauth2/token`
       ```
       grant_type=client_credentials
       &client_id=votre_client_id
       &client_secret=votre_client_secret
       &scope=api_access
       ```
    3. Incluez le jeton dans l'en-tête Authorization : `Bearer <token>`

    ## Filtrage RSQL
    Utilisez le paramètre de requête `filter` avec la syntaxe RSQL :
    - **Opérateurs** : `==`, `!=`, `>`, `>=`, `<`, `<=`
    - **Logique** : `;` (ET), `,` (OU), `()` pour grouper
    - **Wildcards** : `*` pour contains/startsWith/endsWith
    - **Exemples** :
      - `b>100000` : niveau global > 100000
      - `u==*Romain*` : nom d'utilisateur contenant "Romain"
      - `b>500000;bP<100` : niveau > 500000 ET position < 100
      - `(u==*35*,u==*76*)` : nom contenant "35" OU "76"
  title: Yoxo API Server
  version: 1.0.0
servers:
- description: Generated server url
  url: https://api.yoxo.software
security:
- oauth2_client_credentials: []
tags:
- description: Endpoints exposant les données de jeu scrapées depuis les serveurs
    Java de NationsGlory. Supporte le filtrage RSQL et la pagination pour s'adapter
    aux divers usages.
  name: API Java
paths:
  /v2/java/alliance/{date}/{javaServer}:
    get:
      description: |
        Permet d'obtenir la liste et les détails complets de toutes les alliances d'un serveur à une date donnée (aucun filtrage possible).

        **Documentation :**
        https://wiki.nationsglory.fr/fr/article/les-alliances-java-1ju6vju/

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les jours, généralement la nuit.
      operationId: getAlliance_1
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alliance"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Alliance
      tags:
      - API Java
      x-accepts:
      - application/json
    post:
      description: |
        Permet d'obtenir la liste et les détails complets de toutes les alliances d'un serveur à une date donnée (avec filtrage possible).

        **Documentation :**
        https://wiki.nationsglory.fr/fr/article/les-alliances-java-1ju6vju/

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les jours, généralement la nuit.
      operationId: postAlliance
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostQueryBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alliance"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Alliance
      tags:
      - API Java
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/java/alliance/{date}/{javaServer}/{alliance}:
    get:
      description: |
        Permet d'obtenir la liste et les détails complets de toutes les alliances d'un serveur à une date donnée (aucun filtrage possible).

        **Documentation :**
        https://wiki.nationsglory.fr/fr/article/les-alliances-java-1ju6vju/

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les jours, généralement la nuit.
      operationId: getAlliance
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      - description: Nom de l'alliance (optionnel)
        explode: false
        in: path
        name: alliance
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alliance"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Alliance
      tags:
      - API Java
      x-accepts:
      - application/json
  /v2/java/cereal_global_market/{date}/{javaServer}:
    get:
      description: |
        Permet d'obtenir les données du marché global des céréales pour un serveur spécifique à une date donnée.

        Ces données incluent :
        - Les graphiques de l'évolution des prix, des ventes et des stocks
        - L'historique des prix, ventes et stocks par type de céréale
        - Les prix actuels des céréales

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les jours impairs du mois (environ une fois tous les 2 jours), généralement la nuit.

        **Note :** Ces données représentent un objet unique (pas une liste), donc le filtrage et la pagination ne sont pas applicables.
      operationId: getCerealGlobalMarket
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-10-28
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CerealGlobalMarket"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Cereal Global Market
      tags:
      - API Java
      x-accepts:
      - application/json
  /v2/java/country/{date}/{javaServer}:
    get:
      description: |
        Permet d'obtenir la liste et les détails complets de tous les pays d'un serveur à une date donnée (aucun filtrage possible).
        Il est possible de spécifier un pays dans l'URL pour récupérer un pays spécifique.

        **Données exposées :**
        - Informations générales (nom, description, niveau, power, claims...)
        - Relations (alliance, guerres)
        - Membres (liste, rôles, recrues)
        - Économie (banque, actions)
        - Paramètres et permissions

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les jours, généralement la nuit.
      operationId: getCountry
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Country"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Country
      tags:
      - API Java
      x-accepts:
      - application/json
    post:
      description: |
        Permet d'obtenir la liste et les détails complets de tous les pays d'un serveur à une date donnée (avec filtrage possible).

        **Données exposées :**
        - Informations générales (nom, description, niveau, power, claims...)
        - Relations (alliance, guerres)
        - Membres (liste, rôles, recrues)
        - Économie (banque, actions)
        - Paramètres et permissions

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les jours, généralement la nuit.
      operationId: postCountry
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostQueryBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Country"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Country
      tags:
      - API Java
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/java/country/{date}/{javaServer}/{country}:
    get:
      description: |
        Permet d'obtenir la liste et les détails complets de tous les pays d'un serveur à une date donnée (aucun filtrage possible).
        Il est possible de spécifier un pays dans l'URL pour récupérer un pays spécifique.

        **Données exposées :**
        - Informations générales (nom, description, niveau, power, claims...)
        - Relations (alliance, guerres)
        - Membres (liste, rôles, recrues)
        - Économie (banque, actions)
        - Paramètres et permissions

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les jours, généralement la nuit.
      operationId: getCountry_1
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      - description: Nom du pays (optionnel)
        explode: false
        in: path
        name: country
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Country"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Country
      tags:
      - API Java
      x-accepts:
      - application/json
  /v2/java/enterprise/{date}/{javaServer}:
    get:
      description: |
        Permet d'obtenir la liste de toutes les entreprises sur un serveur à une date donnée.
        Chaque entreprise contient des champs communs (nom, propriétaire, employés, contrats) et des champs
        spécifiques selon son type (ex: historique des gains pour les casinos, production pour les centrales électriques).
        Il est possible de filtrer par nom d'entreprise.

        **Types d'entreprises :**
        - Casino : Entreprises de casino
        - Electric : Entreprises électriques
        - Farm : Entreprises agricoles
        - Petrol : Entreprises pétrolières
        - Trader : Entreprises de trading
        - Bet : Entreprises de paris
        - RealEstate : Entreprises immobilières (location de parcelles)
        - Build, Engineer, Terraform, Journalist, PVP, Loan, Repair, Lawyer : Entreprises de services

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les lundis matin.
      operationId: getEnterprises
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      - description: Type d'entreprise (optionnel)
        explode: true
        in: query
        name: enterpriseType
        required: false
        schema:
          enum:
          - build
          - engineer
          - terraform
          - journalist
          - casino
          - pvp
          - loan
          - realestate
          - trader
          - bet
          - repair
          - lawyer
          - electric
          - petrol
          - farm
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Enterprise
      tags:
      - API Java
      x-accepts:
      - application/json
    post:
      description: |
        Permet d'obtenir la liste de toutes les entreprises sur un serveur à une date donnée.
        Chaque entreprise contient des champs communs (nom, propriétaire, employés, contrats) et des champs
        spécifiques selon son type (ex: historique des gains pour les casinos, production pour les centrales électriques).

        **Types d'entreprises :**
        - Casino : Entreprises de casino
        - Electric : Entreprises électriques
        - Farm : Entreprises agricoles
        - Petrol : Entreprises pétrolières
        - Trader : Entreprises de trading
        - Bet : Entreprises de paris
        - RealEstate : Entreprises immobilières (location de parcelles)
        - Build, Engineer, Terraform, Journalist, PVP, Loan, Repair, Lawyer : Entreprises de services

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les lundis matin.
      operationId: postEnterprises
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostQueryBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Enterprise
      tags:
      - API Java
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/java/enterprise/{date}/{javaServer}/{enterpriseName}:
    get:
      description: |
        Permet d'obtenir la liste de toutes les entreprises sur un serveur à une date donnée.
        Chaque entreprise contient des champs communs (nom, propriétaire, employés, contrats) et des champs
        spécifiques selon son type (ex: historique des gains pour les casinos, production pour les centrales électriques).
        Il est possible de filtrer par nom d'entreprise.

        **Types d'entreprises :**
        - Casino : Entreprises de casino
        - Electric : Entreprises électriques
        - Farm : Entreprises agricoles
        - Petrol : Entreprises pétrolières
        - Trader : Entreprises de trading
        - Bet : Entreprises de paris
        - RealEstate : Entreprises immobilières (location de parcelles)
        - Build, Engineer, Terraform, Journalist, PVP, Loan, Repair, Lawyer : Entreprises de services

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les lundis matin.
      operationId: getEnterprises_1
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      - description: Nom de l'entreprise (optionnel)
        explode: false
        in: path
        name: enterpriseName
        required: true
        schema:
          type: string
        style: simple
      - description: Type d'entreprise (optionnel)
        explode: true
        in: query
        name: enterpriseType
        required: false
        schema:
          enum:
          - build
          - engineer
          - terraform
          - journalist
          - casino
          - pvp
          - loan
          - realestate
          - trader
          - bet
          - repair
          - lawyer
          - electric
          - petrol
          - farm
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Enterprise
      tags:
      - API Java
      x-accepts:
      - application/json
  /v2/java/halloween-2025/{date}:
    get:
      description: |
        Permet d'obtenir les statistiques des joueurs du top 50 de l'événement Halloween 2025 "Demon's Return" à une date donnée (aucun filtrage possible).
        Seuls les joueurs du top 50 interserveur sont accessibles (limitation du serveur).

        **À propos de l'événement :**
        L'événement "Demon's Return" est un événement global interserveur où l'objectif est de collecter des âmes et tuer des démons pour empêcher l'invasion démoniaque.
        Le classement est identique sur tous les serveurs puisqu'il s'agit d'un événement global à NationsGlory.

        **Fréquence de mise à jour :**
        Les données sont actualisées quotidiennement pendant toute la durée de l'événement (du 21/10/2025 au 04/11/2025), généralement la nuit.

        **Documentation :**
        Plus d'informations sur l'événement : https://wiki.nationsglory.fr/fr/article/halloween-2025-demons-return-1lfsu05/
      operationId: getHalloween2025
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-10-28
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Halloween2025"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Halloween 2025
      tags:
      - API Java
      x-accepts:
      - application/json
    post:
      description: |
        Permet d'obtenir les statistiques des joueurs du top 50 de l'événement Halloween 2025 "Demon's Return" à une date donnée (avec filtrage possible).
        Seuls les joueurs du top 50 interserveur sont disponibles (limitation du serveur).

        **À propos de l'événement :**
        L'événement "Demon's Return" est un événement global interserveur où l'objectif est de collecter des âmes et tuer des démons pour empêcher l'invasion démoniaque.
        Le classement est identique sur tous les serveurs puisqu'il s'agit d'un événement global à NationsGlory.

        **Fréquence de mise à jour :**
        Les données sont actualisées quotidiennement pendant toute la durée de l'événement (du 21/10/2025 au 04/11/2025), généralement la nuit.

        **Documentation :**
        Plus d'informations sur l'événement : https://wiki.nationsglory.fr/fr/article/halloween-2025-demons-return-1lfsu05/
      operationId: postHalloween2025
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-10-28
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostQueryBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Halloween2025"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Halloween 2025
      tags:
      - API Java
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/java/noelmegagift-2024:
    get:
      description: |
        Permet d'obtenir les données des tirages du Mega Cadeau de l'événement "The Key Guardian" (Noël 2024).

        **À propos de l'événement :**
        L'événement "The Key Guardian" est l'événement de Noël 2024 où les joueurs doivent
        à récupérer 9 clés perdues pour assembler une Méga Clé et débloquer le Mega Cadeau.
        Chaque tirage du Mega Cadeau offre jusqu'à 4 récompenses selon le nombre de joueurs présents (armes exclusives,
        plans rares, items légendaires, cosmétiques).

        **Période de l'événement :** Du 24/12/2024 au 12/01/2025

        **Données exposées :**
        Chaque entrée représente un tirage individuel du Mega Gift par un joueur, avec les items obtenus
        et la date/heure du tirage.
      operationId: getNoelMegagift2024
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NoelMegagift2024"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Noël Megagift 2024
      tags:
      - API Java
      x-accepts:
      - application/json
    post:
      description: |
        Permet d'obtenir les données des tirages du Mega Cadeau de l'événement "The Key Guardian" (Noël 2024).

        **À propos de l'événement :**
        L'événement "The Key Guardian" est l'événement de Noël 2024 où les joueurs doivent
        à récupérer 9 clés perdues pour assembler une Méga Clé et débloquer le Mega Cadeau.
        Chaque tirage du Mega Cadeau offre jusqu'à 4 récompenses selon le nombre de joueurs présents (armes exclusives,
        plans rares, items légendaires, cosmétiques).

        **Période de l'événement :** Du 24/12/2024 au 12/01/2025

        **Données exposées :**
        Chaque entrée représente un tirage individuel du Mega Gift par un joueur, avec les items obtenus
        et la date/heure du tirage.
      operationId: postNoelMegagift2024
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostQueryBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NoelMegagift2024"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Noël Megagift 2024
      tags:
      - API Java
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/java/noelmegagift-2025/{date}:
    get:
      description: |
        Permet d'obtenir les données des tirages du Mega Cadeau de l'événement de Noël 2025.

        **À propos de l'événement :**
        Événement interserveur où les joueurs peuvent obtenir des récompenses exclusives via le Mega Cadeau.
        Plus d'informations sur l'événement : https://wiki.nationsglory.fr/fr/article/lile-du-pere-noel-rv8x0t/#2-le-mega-cadeau-recompense-ultime

        **Période de l'événement :** Du 14/12/2025 au 15/01/2026

        **Données exposées :**
        Chaque entrée représente un tirage individuel du Mega cadeau par un joueur, avec les items obtenus
        et la date/heure du tirage.

        **Fréquence de mise à jour :**
        Les données sont actualisées quotidiennement pendant toute la durée de l'événement (du 14/12/2025 au 06/01/2026), généralement la nuit.
      operationId: getNoelMegagift2025
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NoelMegagift2025"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Noël Megagift 2025
      tags:
      - API Java
      x-accepts:
      - application/json
    post:
      description: |
        Permet d'obtenir les données des tirages du Mega Cadeau de l'événement de Noël 2025 (filtrage RSQL possible).

        **À propos de l'événement :**
        Événement interserveur où les joueurs peuvent obtenir des récompenses exclusives via le Mega Cadeau.
        Plus d'informations sur l'événement : https://wiki.nationsglory.fr/fr/article/lile-du-pere-noel-rv8x0t/#2-le-mega-cadeau-recompense-ultime

        **Période de l'événement :** Du 14/12/2025 au 06/01/2026

        **Données exposées :**
        Chaque entrée représente un tirage individuel du Mega cadeau par un joueur, avec les items obtenus
        et la date/heure du tirage.

        **Fréquence de mise à jour :**
        Les données sont actualisées quotidiennement pendant toute la durée de l'événement (du 14/12/2025 au 06/01/2026), généralement la nuit.
      operationId: postNoelMegagift2025
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostQueryBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NoelMegagift2025"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Noël Megagift 2025
      tags:
      - API Java
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/java/notation/{date}/{javaServer}:
    get:
      description: |
        Permet d'obtenir les notations d'un pays sur un serveur à une date donnée (sans filtrage).

        **Documentation :**
        https://wiki.nationsglory.fr/fr/article/les-notations-java-1jdjuqt/

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les lundis matin.
      operationId: getNotation
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notation"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Notation
      tags:
      - API Java
      x-accepts:
      - application/json
    post:
      description: |
        Permet d'obtenir les notations d'un pays sur un serveur à une date donnée (avec filtrage possible).

        **Documentation :**
        https://wiki.nationsglory.fr/fr/article/les-notations-java-1jdjuqt/

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les lundis matin.
      operationId: postNotation
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostQueryBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notation"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Notation
      tags:
      - API Java
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/java/notation/{date}/{javaServer}/{country}:
    get:
      description: |
        Permet d'obtenir les notations d'un pays sur un serveur à une date donnée (sans filtrage).

        **Documentation :**
        https://wiki.nationsglory.fr/fr/article/les-notations-java-1jdjuqt/

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les lundis matin.
      operationId: getNotation_1
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      - description: Nom du pays (optionnel)
        explode: false
        in: path
        name: country
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notation"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Notation
      tags:
      - API Java
      x-accepts:
      - application/json
  /v2/java/pillage-country/{date}/{javaServer}:
    get:
      description: |
        Permet d'obtenir la liste des pays ayant été en mode pillage entre 14h et 18h, sur un serveur à une date donnée (aucun filtrage possible).

        **Documentation :**
        https://wiki.nationsglory.fr/fr/article/gerer-son-pays-java-1hcq6io/#2-fonctionnement-des-disbands

        **Fréquence de mise à jour :**
        Les données sont actualisées les mercredi, samedi et dimanche vers 14h30.
      operationId: getPillageCountry
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-10-28
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PillageCountry"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Pillage Country
      tags:
      - API Java
      x-accepts:
      - application/json
    post:
      description: |
        Permet d'obtenir la liste des pays ayant été en mode pillage entre 14h et 18h, sur un serveur à une date donnée (avec filtrage possible).

        **Documentation :**
        https://wiki.nationsglory.fr/fr/article/gerer-son-pays-java-1hcq6io/#2-fonctionnement-des-disbands

        **Fréquence de mise à jour :**
        Les données sont actualisées les mercredi, samedi et dimanche vers 14h30.
      operationId: postPillageCountry
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-10-28
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostQueryBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PillageCountry"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Pillage Country
      tags:
      - API Java
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/java/player-list/{date}/{javaServer}:
    get:
      description: |
        Permet d'obtenir la liste des joueurs s'étant connectés au moins une fois au cours des 14 derniers jours sur un serveur à une date donnée (aucun filtrage possible).

        **Fréquence de mise à jour :**
        Les données sont actualisées quotidiennement, généralement la nuit.
      operationId: getPlayerList
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-10-28
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerList"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Player List
      tags:
      - API Java
      x-accepts:
      - application/json
    post:
      description: |
        Permet d'obtenir la liste des joueurs s'étant connectés au moins une fois au cours des 14 derniers jours sur un serveur à une date donnée (avec filtrage possible).

        **Fréquence de mise à jour :**
        Les données sont actualisées quotidiennement, généralement la nuit.
      operationId: postPlayerList
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-10-28
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostQueryBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerList"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Player List
      tags:
      - API Java
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/java/research/{date}/config:
    get:
      description: |
        Permet d'obtenir la configuration globale de tous les domaines de recherche disponibles dans NationsGlory.
        Cette configuration est identique pour tous les serveurs et définit les niveaux, conditions et récompenses.

        **Contenu de la configuration :**
        - Noms et descriptions des domaines de recherche
        - Niveaux maximum par domaine
        - Conditions requises par niveau
        - Récompenses obtenues par niveau
        - Durées de recherche

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les jours impairs du mois (environ une fois tous les 2 jours), généralement la nuit.
      operationId: getResearchConfig
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResearchConfig"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Research Config
      tags:
      - API Java
      x-accepts:
      - application/json
  /v2/java/research/{date}/{javaServer}:
    get:
      description: |
        Permet d'obtenir les niveaux de recherche actuels de tous les pays d'un serveur à une date donnée (sans filtrage).

        **Données exposées :**
        - Niveaux actuels de recherche par domaine pour chaque pays
        - Dernière recherche complétée par chaque pays
        - Valeurs actuelles des conditions de recherche

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les jours impairs du mois (environ une fois tous les 2 jours), généralement la nuit.
      operationId: getResearchServer
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResearchServer"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Research Server
      tags:
      - API Java
      x-accepts:
      - application/json
    post:
      description: |
        Permet d'obtenir les niveaux de recherche actuels de tous les pays d'un serveur à une date donnée (avec filtrage possible).

        **Données exposées :**
        - Niveaux actuels de recherche par domaine pour chaque pays
        - Dernière recherche complétée par chaque pays
        - Valeurs actuelles des conditions de recherche

        **Exemples de filtres RSQL :**
        - `country==Papouasie` - Pays nommé exactement "Papouasie"
        - `country==*Terre*` - Pays dont le nom contient "Terre"
        - `lastResearch.level>3` - Pays dont la dernière recherche a atteint un niveau > 3
        - `lastResearch.domain==militaire` - Pays dont la dernière recherche était dans le domaine militaire
        - `lastResearch.timestamp>1735689600000` - Pays dont la dernière recherche a été complétée après cette date

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les jours pairs du mois (environ une fois tous les 2 jours), généralement la nuit.
      operationId: postResearchServer
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostQueryBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResearchServer"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Research Server
      tags:
      - API Java
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/java/skill/{date}/{javaServer}:
    get:
      description: |
        Permet d'obtenir les compétences des joueurs présents dans au moins 1 top 50 compétences sur un serveur à une date donnée (aucun filtrage possible).
        Seuls les joueurs figurant dans le top 50 d'au moins une compétence sur le serveur sont inclus pour éviter de surcharger les serveurs.

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les jours pairs du mois (environ une fois tous les 2 jours), généralement la nuit.

        **Documentation :**
        Plus d'informations sur les compétences/skills : https://wiki.nationsglory.fr/fr/article/les-competences-java-1shixp7/
      operationId: getSkill
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-10-28
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: "Serveur (red, blue...)"
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Skill
      tags:
      - API Java
      x-accepts:
      - application/json
    post:
      description: |
        Permet d'obtenir les compétences des joueurs présents dans au moins 1 top 50 compétences sur un serveur à une date donnée (avec filtrage possible).
        Seuls les joueurs figurant dans le top 50 d'au moins une compétence sur le serveur sont inclus pour éviter de surcharger les serveurs.

        **Fréquence de mise à jour :**
        Les données sont actualisées tous les jours pairs du mois (environ une fois tous les 2 jours), généralement la nuit.

        **Documentation :**
        Plus d'informations sur les compétences/skills : https://wiki.nationsglory.fr/fr/article/les-competences-java-1shixp7/
      operationId: postSkill
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-10-28
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostQueryBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: Skill
      tags:
      - API Java
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/java/war/{date}/{javaServer}:
    get:
      description: |
        Permet d'obtenir la liste des guerres (en cours ou terminées) d'un serveur à une date donnée.
        Il est possible de spécifier un warId dans l'URL pour récupérer une guerre spécifique.

        **Données exposées :**
        - Identifiant, dates (déclaration, début), raison
        - Participants (attaquant, défenseur) avec détails (pays, points missiles, progression...)
        - Conditions de victoire
        - Récompenses
        - Détails des assauts et missiles lancés

        **Fréquence de mise à jour :**
        Les données sont actualisées quotidiennement, généralement la nuit.
      operationId: getWar
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/War"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: War
      tags:
      - API Java
      x-accepts:
      - application/json
    post:
      description: |
        Permet d'obtenir la liste des guerres (en cours ou terminées) d'un serveur à une date donnée (avec filtrage possible).

        **Données exposées :**
        - Identifiant, dates (déclaration, début), raison
        - Participants (attaquant, défenseur) avec détails (pays, points missiles, progression...)
        - Conditions de victoire
        - Récompenses
        - Détails des assauts et missiles lancés

        **Fréquence de mise à jour :**
        Les données sont actualisées quotidiennement, généralement la nuit.
      operationId: postWar
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostQueryBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/War"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: War
      tags:
      - API Java
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/java/war/{date}/{javaServer}/{warId}:
    get:
      description: |
        Permet d'obtenir la liste des guerres (en cours ou terminées) d'un serveur à une date donnée.
        Il est possible de spécifier un warId dans l'URL pour récupérer une guerre spécifique.

        **Données exposées :**
        - Identifiant, dates (déclaration, début), raison
        - Participants (attaquant, défenseur) avec détails (pays, points missiles, progression...)
        - Conditions de victoire
        - Récompenses
        - Détails des assauts et missiles lancés

        **Fréquence de mise à jour :**
        Les données sont actualisées quotidiennement, généralement la nuit.
      operationId: getWar_1
      parameters:
      - description: Date (yyyy-MM-dd)
        example: 2025-11-24
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
        style: simple
      - description: Serveur
        example: red
        explode: false
        in: path
        name: javaServer
        required: true
        schema:
          enum:
          - blue
          - orange
          - yellow
          - white
          - black
          - cyan
          - lime
          - coral
          - pink
          - purple
          - green
          - red
          - mocha
          - jade
          type: string
        style: simple
      - description: ID de la guerre (optionnel)
        explode: false
        in: path
        name: warId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/War"
          description: OK
      security:
      - oauth2_client_credentials: []
      summary: War
      tags:
      - API Java
      x-accepts:
      - application/json
components:
  schemas:
    PostQueryBody:
      description: "Le corps de la requête pour les endpoints POST /v2/data/{type}/{date}/{server}/query\
        \ permettant des requêtes complexes avec filtrage et pagination"
      example:
        filter: builder>100000;builderPosition<100
        size: 50
        page: 1
      properties:
        filter:
          description: |
            Permet de filtrer les résultats avec des expressions RSQL dans le corps de la requête.
            - Opérateurs de comparaison : `==`, `!=`, `>`, `>=`, `<`, `<=`
            - Opérateurs logiques : `;` (ET), `,` (OU), parenthèses pour grouper
            - Wildcards : `*` pour contient/commence par/finit par (ex: `username==*Didje*`)

            __Exemples de filtres :__
            - `builder>100000` : joueurs avec plus de 100000 XP en Builder
            - `username==*Romain*` : joueurs dont le nom contient "Romain"
            - `builder>500000;builderPosition<100` : XP Builder > 500000 ET position < 100
            - `(username==*77*,username==*24*)` : nom contient "77" OU "24"
          example: builder>100000;builderPosition<100
          nullable: true
          type: string
        page:
          description: Le numéro de page à récupérer (la première page est la page
            1)
          example: 1
          format: int32
          minimum: 1
          nullable: true
          type: integer
        size:
          description: Le nombre d'éléments par page
          example: 50
          format: int32
          minimum: 1
          nullable: true
          type: integer
      type: object
    Metadata:
      example:
        date: 2025-10-21
        filteredCount: 42
        server: red
        dataType: example
        executionTimeMs: 210
        totalPages: 3
        pageSize: 20
        totalCount: 50
        currentPage: 1
        timestamp: 1760939974755
      properties:
        dataType:
          description: "Le type de données (researches, skill, enterprise, ...)"
          example: example
          type: string
        server:
          description: "Le serveur duquel est issue les données. Dans le cas de donné\
            es issue d'un évènement interserveur, le serveur sera 'event'"
          example: red
          type: string
        timestamp:
          description: "Timestamp auquel les données ont été scrap. Le timestamp est\
            \ ici exprimé en milliseconde et correspond au nombre de milliseconde\
            \ écoulées depuis le 1er janvier 1970, minuit UTC"
          example: 1760939974755
          format: int64
          type: integer
        date:
          description: "La date auquel les données ont été scrap, au format ISO"
          example: 2025-10-21
          type: string
        executionTimeMs:
          description: "Le temps d'exécution de la requête, en millisecondes"
          example: 210
          format: int64
          type: integer
        totalCount:
          description: "Si filtrage possible, nombre d'éléments avant le filtrage"
          example: 50
          format: int32
          type: integer
        filteredCount:
          description: "Si filtrage possible, nombre d'éléments après le filtrage"
          example: 42
          format: int32
          type: integer
        currentPage:
          description: "Si pagination, le page actuel"
          example: 1
          format: int32
          type: integer
        pageSize:
          description: "Si pagination, le nombre d'éléments par pages"
          example: 20
          format: int32
          type: integer
        totalPages:
          description: "Si pagination, le nombre total de pages. La première page\
            \ est la page 1"
          example: 3
          format: int32
          type: integer
      type: object
    War:
      example:
        metadata:
          date: 2025-10-21
          filteredCount: 42
          server: red
          dataType: example
          executionTimeMs: 210
          totalPages: 3
          pageSize: 20
          totalCount: 50
          currentPage: 1
          timestamp: 1760939974755
        data:
        - reason: KILL_WILDERNESS
          warsInitiatedBy: Romaindu35
          attacker:
            country: TerreSigny
            condition:
              victory: 2
              kill: 10
              assaultPoints: 1500
              antimatter: 1
              missilePoints: 50
              redmatter: 1
            inactivity: 12
            progress: 45.5
            remainingMissilesPoints: 100
          targetGrade: LEADER
          target: Romaindu35
          winner: TerreSigny
          warStartAt: 1735693200000
          warDeclaredAt: 1735689600000
          daysBeforeMissilePointReset: 5
          warId: 99101e976cb0dc7ca57a54e5849dbe0943a7544e
          conditionType: AND
          conditions:
            victory: 2
            kill: 10
            assaultPoints: 1500
            antimatter: 1
            missilePoints: 50
            redmatter: 1
          missiles:
          - missile: Sonic
            launcherCountry: Papouasie
            launchedAt: 1735696800000
            missilePoints: 4
            launcher: Romaindu35
          - missile: Sonic
            launcherCountry: Papouasie
            launchedAt: 1735696800000
            missilePoints: 4
            launcher: Romaindu35
          rewards:
            peace: 7
            claims: 3
            dollars: 50000
            power: 10
          status: IN_PROGRESS
          defender:
            country: TerreSigny
            condition:
              victory: 2
              kill: 10
              assaultPoints: 1500
              antimatter: 1
              missilePoints: 50
              redmatter: 1
            inactivity: 12
            progress: 45.5
            remainingMissilesPoints: 100
          assaults:
          - winner: TerreSigny
            winnerHelpers:
            - winnerHelpers
            - winnerHelpers
            looserHelpers:
            - looserHelpers
            - looserHelpers
            mmrWinner: 25
            mmrLooser: -25
            startAt: 1735695000000
            looser: TerreAdelie
          - winner: TerreSigny
            winnerHelpers:
            - winnerHelpers
            - winnerHelpers
            looserHelpers:
            - looserHelpers
            - looserHelpers
            mmrWinner: 25
            mmrLooser: -25
            startAt: 1735695000000
            looser: TerreAdelie
        - reason: KILL_WILDERNESS
          warsInitiatedBy: Romaindu35
          attacker:
            country: TerreSigny
            condition:
              victory: 2
              kill: 10
              assaultPoints: 1500
              antimatter: 1
              missilePoints: 50
              redmatter: 1
            inactivity: 12
            progress: 45.5
            remainingMissilesPoints: 100
          targetGrade: LEADER
          target: Romaindu35
          winner: TerreSigny
          warStartAt: 1735693200000
          warDeclaredAt: 1735689600000
          daysBeforeMissilePointReset: 5
          warId: 99101e976cb0dc7ca57a54e5849dbe0943a7544e
          conditionType: AND
          conditions:
            victory: 2
            kill: 10
            assaultPoints: 1500
            antimatter: 1
            missilePoints: 50
            redmatter: 1
          missiles:
          - missile: Sonic
            launcherCountry: Papouasie
            launchedAt: 1735696800000
            missilePoints: 4
            launcher: Romaindu35
          - missile: Sonic
            launcherCountry: Papouasie
            launchedAt: 1735696800000
            missilePoints: 4
            launcher: Romaindu35
          rewards:
            peace: 7
            claims: 3
            dollars: 50000
            power: 10
          status: IN_PROGRESS
          defender:
            country: TerreSigny
            condition:
              victory: 2
              kill: 10
              assaultPoints: 1500
              antimatter: 1
              missilePoints: 50
              redmatter: 1
            inactivity: 12
            progress: 45.5
            remainingMissilesPoints: 100
          assaults:
          - winner: TerreSigny
            winnerHelpers:
            - winnerHelpers
            - winnerHelpers
            looserHelpers:
            - looserHelpers
            - looserHelpers
            mmrWinner: 25
            mmrLooser: -25
            startAt: 1735695000000
            looser: TerreAdelie
          - winner: TerreSigny
            winnerHelpers:
            - winnerHelpers
            - winnerHelpers
            looserHelpers:
            - looserHelpers
            - looserHelpers
            mmrWinner: 25
            mmrLooser: -25
            startAt: 1735695000000
            looser: TerreAdelie
      properties:
        data:
          items:
            $ref: "#/components/schemas/WarEntry"
          type: array
        metadata:
          $ref: "#/components/schemas/Metadata"
      type: object
    WarAssault:
      description: Détails d'un assaut au sein de la guerre
      example:
        winner: TerreSigny
        winnerHelpers:
        - winnerHelpers
        - winnerHelpers
        looserHelpers:
        - looserHelpers
        - looserHelpers
        mmrWinner: 25
        mmrLooser: -25
        startAt: 1735695000000
        looser: TerreAdelie
      properties:
        startAt:
          description: Timestamp (ms) du début de l'assaut
          example: 1735695000000
          format: int64
          type: integer
        winner:
          description: Nom du pays vainqueur de l'assaut
          example: TerreSigny
          type: string
        looser:
          description: Nom du pays perdant de l'assaut
          example: TerreAdelie
          type: string
        mmrWinner:
          description: MMR gagné par le pays vainqueur suite à sa victoire sur l'assaut
          example: 25
          format: int32
          type: integer
        mmrLooser:
          description: "MMR perdu par le pays perdant suite à sa défaite sur l'assaut.\
            \ Attention, pour signifier la perte, le nombre est négatif."
          example: -25
          format: int32
          type: integer
        winnerHelpers:
          description: Liste des pays ayant aidé le vainqueur
          items:
            description: Liste des pays ayant aidé le vainqueur
            type: string
          type: array
        looserHelpers:
          description: Liste des pays ayant aidé le perdant
          items:
            description: Liste des pays ayant aidé le perdant
            type: string
          type: array
      type: object
    WarCondition:
      description: Valeurs des conditions de victoire (objectifs ou progression)
      example:
        victory: 2
        kill: 10
        assaultPoints: 1500
        antimatter: 1
        missilePoints: 50
        redmatter: 1
      properties:
        kill:
          description: Nombre de kills effectués
          example: 10
          format: int32
          type: integer
        victory:
          description: Nombre d'assauts gagnés
          example: 2
          format: int32
          type: integer
        missilePoints:
          description: Nombre de points obtenus lors des tirs de missile
          example: 50
          format: int32
          type: integer
        assaultPoints:
          description: Nombre de points obtenus lors des assauts
          example: 1500
          format: int32
          type: integer
        antimatter:
          description: Nombre d'antimmater tiré
          example: 1
          format: int32
          type: integer
        redmatter:
          description: Nombre de redmatter tiré
          example: 1
          format: int32
          type: integer
      type: object
    WarEntry:
      description: Détails d'une guerre
      example:
        reason: KILL_WILDERNESS
        warsInitiatedBy: Romaindu35
        attacker:
          country: TerreSigny
          condition:
            victory: 2
            kill: 10
            assaultPoints: 1500
            antimatter: 1
            missilePoints: 50
            redmatter: 1
          inactivity: 12
          progress: 45.5
          remainingMissilesPoints: 100
        targetGrade: LEADER
        target: Romaindu35
        winner: TerreSigny
        warStartAt: 1735693200000
        warDeclaredAt: 1735689600000
        daysBeforeMissilePointReset: 5
        warId: 99101e976cb0dc7ca57a54e5849dbe0943a7544e
        conditionType: AND
        conditions:
          victory: 2
          kill: 10
          assaultPoints: 1500
          antimatter: 1
          missilePoints: 50
          redmatter: 1
        missiles:
        - missile: Sonic
          launcherCountry: Papouasie
          launchedAt: 1735696800000
          missilePoints: 4
          launcher: Romaindu35
        - missile: Sonic
          launcherCountry: Papouasie
          launchedAt: 1735696800000
          missilePoints: 4
          launcher: Romaindu35
        rewards:
          peace: 7
          claims: 3
          dollars: 50000
          power: 10
        status: IN_PROGRESS
        defender:
          country: TerreSigny
          condition:
            victory: 2
            kill: 10
            assaultPoints: 1500
            antimatter: 1
            missilePoints: 50
            redmatter: 1
          inactivity: 12
          progress: 45.5
          remainingMissilesPoints: 100
        assaults:
        - winner: TerreSigny
          winnerHelpers:
          - winnerHelpers
          - winnerHelpers
          looserHelpers:
          - looserHelpers
          - looserHelpers
          mmrWinner: 25
          mmrLooser: -25
          startAt: 1735695000000
          looser: TerreAdelie
        - winner: TerreSigny
          winnerHelpers:
          - winnerHelpers
          - winnerHelpers
          looserHelpers:
          - looserHelpers
          - looserHelpers
          mmrWinner: 25
          mmrLooser: -25
          startAt: 1735695000000
          looser: TerreAdelie
      properties:
        warId:
          description: Identifiant unique de la guerre permettant de lier avec les
            données des pays
          example: 99101e976cb0dc7ca57a54e5849dbe0943a7544e
          type: string
        warDeclaredAt:
          description: Timestamp (ms) de la déclaration de guerre
          example: 1735689600000
          format: int64
          type: integer
        warStartAt:
          description: Timestamp (ms) du début effectif de la guerre
          example: 1735693200000
          format: int64
          type: integer
        warsInitiatedBy:
          description: Joueur ayant initié la guerre via la commande /f enemy
          example: Romaindu35
          type: string
        reason:
          description: Raison de la déclaration de guerre
          enum:
          - KILL_WILDERNESS
          - PROVOCATION
          - TERRITORIAL_EXPANSION
          - TERRITORIAL_DEFENSE
          - TREASON
          - INTRUSION
          - SCAM
          - TPKILL
          - COLONY_IMDEPENDENCE
          - COLONY_REFUSAL
          - COLONY_PROTECTION
          - COLONY_STEAL
          - BUFFER_COUNTRY
          - UNDER_POWER
          - REPRISAL
          - FOLLOW_WAR
          - MMR500
          - EMPIRE_RIVALITY
          - WAR_REVENGE
          - BOMBING_ASSISTANCE
          - WARZONE_DOMINATION
          - PROTECTORAT
          example: KILL_WILDERNESS
          type: string
        target:
          description: Le pays ou joueur ayant donné la raison de guerre (peut être
            nul selon la raison)
          example: Romaindu35
          type: string
        targetGrade:
          description: Grade du joueur ayant donné la raison de guerre (au moment
            de la raison de la guerre)
          enum:
          - RECRUIT
          - MEMBER
          - OFFICER
          - LEADER
          example: LEADER
          type: string
        status:
          description: "Statut actuel de la guerre (ex: IN_PROGRESS, FINISHED)"
          enum:
          - IN_PROGRESS
          - WAITING_VALIDATION
          - WAITING_CONDITIONS_ATT
          - WAITING_CONDITIONS_DEF
          - WAITING_CONDITIONS_ATT_VALIDATION
          - FINISHED
          - REFUSED
          example: IN_PROGRESS
          type: string
        winner:
          description: Le nom du pays vainqueur de la guerre (si terminée)
          example: TerreSigny
          type: string
        daysBeforeMissilePointReset:
          description: Nombre de jours restants avant la réinitialisation des points
            missile
          example: 5
          format: int32
          type: integer
        attacker:
          $ref: "#/components/schemas/WarParticipant"
        defender:
          $ref: "#/components/schemas/WarParticipant"
        conditions:
          $ref: "#/components/schemas/WarCondition"
        conditionType:
          description: "Logique d'application des conditions (AND: toutes requises,\
            \ OR: une seule requise)"
          enum:
          - OR
          - AND
          example: AND
          type: string
        rewards:
          $ref: "#/components/schemas/WarRewards"
        assaults:
          description: Liste des assauts ayant eu lieu durant la guerre
          items:
            $ref: "#/components/schemas/WarAssault"
          type: array
        missiles:
          description: Liste des missiles lancés durant la guerre
          items:
            $ref: "#/components/schemas/WarMissile"
          type: array
      type: object
    WarMissile:
      description: Détails d'un missile lancé
      example:
        missile: Sonic
        launcherCountry: Papouasie
        launchedAt: 1735696800000
        missilePoints: 4
        launcher: Romaindu35
      properties:
        launchedAt:
          description: Timestamp (ms) du lancement du missile
          example: 1735696800000
          format: int64
          type: integer
        missile:
          description: Type de missile lancé
          example: Sonic
          type: string
        missilePoints:
          description: Points de missile consommés pour ce lancement
          example: 4
          format: int32
          type: integer
        launcher:
          description: Joueur ayant lancé le missile
          example: Romaindu35
          type: string
        launcherCountry:
          description: Pays du joueur ayant lancé le missile
          example: Papouasie
          type: string
      type: object
    WarParticipant:
      description: Détails d'un pays participant à la guerre
      example:
        country: TerreSigny
        condition:
          victory: 2
          kill: 10
          assaultPoints: 1500
          antimatter: 1
          missilePoints: 50
          redmatter: 1
        inactivity: 12
        progress: 45.5
        remainingMissilesPoints: 100
      properties:
        country:
          description: Nom du pays participant
          example: TerreSigny
          type: string
        remainingMissilesPoints:
          description: Points de missile restants utilisables par le pays
          example: 100
          format: int32
          type: integer
        inactivity:
          description: Pourcentage d'inactivité du pays. Augmente de 3% si les critères
            de connexion ne sont pas remplis pendant 2h
          example: 12
          format: int32
          type: integer
        progress:
          description: "Pourcentage de progression vers la validation des conditions\
            \ de victoire (0-100%). À 100%, le pays gagne"
          example: 45.5
          format: double
          type: number
        condition:
          $ref: "#/components/schemas/WarCondition"
      type: object
    WarRewards:
      description: Récompenses accordées au pays vainqueur de la guerre
      example:
        peace: 7
        claims: 3
        dollars: 50000
        power: 10
      properties:
        dollars:
          description: Montant en dollars gagné
          example: 50000
          format: int32
          type: integer
        power:
          description: Points de power gagnés
          example: 10
          format: int32
          type: integer
        claims:
          description: Nombre de claims (territoires) gagnés
          example: 3
          format: int32
          type: integer
        peace:
          description: Nombre de jours de trêve forcée après la guerre pendant lesquels
            les pays ne peuvent plus s'attaquer
          example: 7
          format: int32
          type: integer
      type: object
    Skill:
      example:
        metadata:
          date: 2025-10-21
          filteredCount: 42
          server: red
          dataType: example
          executionTimeMs: 210
          totalPages: 3
          pageSize: 20
          totalCount: 50
          currentPage: 1
          timestamp: 1760939974755
        data:
        - minerPosition: 5
          builderPosition: 15
          engineerPosition: 31
          engineer: 50000
          miner: 180000
          farmerPosition: 23
          lumberjackPosition: 12
          builder: 125000
          hunterPosition: 8
          farmer: 75000
          hunter: 45000
          lumberjack: 90000
          username: Romaindu35
        - minerPosition: 5
          builderPosition: 15
          engineerPosition: 31
          engineer: 50000
          miner: 180000
          farmerPosition: 23
          lumberjackPosition: 12
          builder: 125000
          hunterPosition: 8
          farmer: 75000
          hunter: 45000
          lumberjack: 90000
          username: Romaindu35
      properties:
        data:
          items:
            $ref: "#/components/schemas/SkillEntry"
          type: array
        metadata:
          $ref: "#/components/schemas/Metadata"
      type: object
    SkillEntry:
      description: Skills d'un joueur
      example:
        minerPosition: 5
        builderPosition: 15
        engineerPosition: 31
        engineer: 50000
        miner: 180000
        farmerPosition: 23
        lumberjackPosition: 12
        builder: 125000
        hunterPosition: 8
        farmer: 75000
        hunter: 45000
        lumberjack: 90000
        username: Romaindu35
      properties:
        username:
          description: Le pseudonyme du joueur
          example: Romaindu35
          type: string
        builder:
          description: "XP du joueur dans le métier de Builder. Paliers: Niveau 1:\
            \ 5000 XP, Niveau 2: 20000 XP, Niveau 3: 50000 XP, Niveau 4: 100000 XP,\
            \ Niveau 5: 200000 XP"
          example: 125000
          format: int32
          type: integer
        farmer:
          description: "XP du joueur dans le métier d'Agriculteur (Farmer). Paliers:\
            \ Niveau 1: 5000 XP, Niveau 2: 20000 XP, Niveau 3: 60000 XP, Niveau 4:\
            \ 125000 XP, Niveau 5: 300000 XP"
          example: 75000
          format: int32
          type: integer
        hunter:
          description: "XP du joueur dans le métier de Chasseur (Hunter). Paliers:\
            \ Niveau 1: 5000 XP, Niveau 2: 20000 XP, Niveau 3: 50000 XP, Niveau 4:\
            \ 100000 XP, Niveau 5: 200000 XP"
          example: 45000
          format: int32
          type: integer
        lumberjack:
          description: "XP du joueur dans le métier de Bûcheron (Lumberjack). Paliers:\
            \ Niveau 1: 5000 XP, Niveau 2: 20000 XP, Niveau 3: 50000 XP, Niveau 4:\
            \ 100000 XP, Niveau 5: 200000 XP"
          example: 90000
          format: int32
          type: integer
        engineer:
          description: "XP du joueur dans le métier d'Ingénieur (Engineer). Paliers:\
            \ Niveau 1: 3500 XP, Niveau 2: 15000 XP, Niveau 3: 30000 XP, Niveau 4:\
            \ 70000 XP, Niveau 5: 200000 XP"
          example: 50000
          format: int32
          type: integer
        miner:
          description: "XP du joueur dans le métier de Mineur (Miner). Paliers: Niveau\
            \ 1: 5000 XP, Niveau 2: 20000 XP, Niveau 3: 75000 XP, Niveau 4: 150000\
            \ XP, Niveau 5: 400000 XP"
          example: 180000
          format: int32
          type: integer
        builderPosition:
          description: Position du joueur dans le classement serveur de le métier
            de Builder (1 = premier du classement)
          example: 15
          format: int32
          type: integer
        farmerPosition:
          description: Position du joueur dans le classement serveur de le métier
            d'Agriculteur (1 = premier du classement)
          example: 23
          format: int32
          type: integer
        hunterPosition:
          description: Position du joueur dans le classement serveur de le métier
            de Chasseur (1 = premier du classement)
          example: 8
          format: int32
          type: integer
        lumberjackPosition:
          description: Position du joueur dans le classement serveur de le métier
            de Bûcheron (1 = premier du classement)
          example: 12
          format: int32
          type: integer
        engineerPosition:
          description: Position du joueur dans le classement serveur de le métier
            d'Ingénieur (1 = premier du classement)
          example: 31
          format: int32
          type: integer
        minerPosition:
          description: Position du joueur dans le classement serveur de le métier
            de Mineur (1 = premier du classement)
          example: 5
          format: int32
          type: integer
      type: object
    CountryResearchEntry:
      description: Données de R&D pour un pays
      example:
        country: Lituanie
        researchesLevels:
          general: 11
          resource: 15
          industry: 12
          military: 5
          technology: 6
        lastResearch:
          level: 6
          domain: technology
          timestamp: 1739864326118
        researchesConditionsValues:
          vote: 10924
          block_break: 20919114
          block_place: 3799270
      properties:
        country:
          description: Nom du pays
          example: Lituanie
          type: string
        researchesLevels:
          additionalProperties:
            description: Niveaux actuels de R&D par branche
            format: int32
            type: integer
          description: Niveaux actuels de R&D par branche
          example:
            general: 11
            resource: 15
            industry: 12
            military: 5
            technology: 6
          type: object
        lastResearch:
          $ref: "#/components/schemas/LastResearchEntry"
        researchesConditionsValues:
          additionalProperties:
            description: Valeurs actuelles des conditions de recherche. Celles-ci
              sont globales
            format: double
            type: number
          description: Valeurs actuelles des conditions de recherche. Celles-ci sont
            globales
          example:
            vote: 10924
            block_break: 20919114
            block_place: 3799270
          type: object
      type: object
    LastResearchEntry:
      description: Dernière recherche complétée par un pays
      example:
        level: 6
        domain: technology
        timestamp: 1739864326118
      properties:
        domain:
          description: Nom de la branche
          example: technology
          type: string
        level:
          description: Niveau atteint
          example: 6
          format: int32
          type: integer
        timestamp:
          description: Timestamp de complétion (epoch milliseconds)
          example: 1739864326118
          format: int64
          type: integer
      type: object
    ResearchServer:
      example:
        metadata:
          date: 2025-10-21
          filteredCount: 42
          server: red
          dataType: example
          executionTimeMs: 210
          totalPages: 3
          pageSize: 20
          totalCount: 50
          currentPage: 1
          timestamp: 1760939974755
        data:
        - country: Lituanie
          researchesLevels:
            general: 11
            resource: 15
            industry: 12
            military: 5
            technology: 6
          lastResearch:
            level: 6
            domain: technology
            timestamp: 1739864326118
          researchesConditionsValues:
            vote: 10924
            block_break: 20919114
            block_place: 3799270
        - country: Lituanie
          researchesLevels:
            general: 11
            resource: 15
            industry: 12
            military: 5
            technology: 6
          lastResearch:
            level: 6
            domain: technology
            timestamp: 1739864326118
          researchesConditionsValues:
            vote: 10924
            block_break: 20919114
            block_place: 3799270
      properties:
        data:
          items:
            $ref: "#/components/schemas/CountryResearchEntry"
          type: array
        metadata:
          $ref: "#/components/schemas/Metadata"
      type: object
    PlayerList:
      example:
        metadata:
          date: 2025-10-21
          filteredCount: 42
          server: red
          dataType: example
          executionTimeMs: 210
          totalPages: 3
          pageSize: 20
          totalCount: 50
          currentPage: 1
          timestamp: 1760939974755
        data:
        - country: France
          lastLogin: 1760939974755
          powerMax: 25
          name: Romaindu35
          power: 12
          playtime: 3600
        - country: France
          lastLogin: 1760939974755
          powerMax: 25
          name: Romaindu35
          power: 12
          playtime: 3600
      properties:
        data:
          items:
            $ref: "#/components/schemas/PlayerListEntry"
          type: array
        metadata:
          $ref: "#/components/schemas/Metadata"
      type: object
    PlayerListEntry:
      example:
        country: France
        lastLogin: 1760939974755
        powerMax: 25
        name: Romaindu35
        power: 12
        playtime: 3600
      properties:
        name:
          description: Le pseudonyme du joueur
          example: Romaindu35
          type: string
        country:
          description: "Le pays du joueur, écrit en toutes lettres. Si le joueur est\
            \ sans pays, la chaine retourné sera vide"
          example: France
          type: string
        power:
          description: Le power actuel du joueur
          example: 12
          format: int32
          type: integer
        powerMax:
          description: Le power maximum atteignable par le joueur
          example: 25
          format: int32
          type: integer
        playtime:
          description: Le temps de jeu total du joueur sur le serveur (en secondes)
          example: 3600
          format: int32
          type: integer
        lastLogin:
          description: "Le timestamp de la dernière connexion du joueur. Le timestamp\
            \ est ici exprimé en secondes et correspond au nombre de secondes écoulé\
            es depuis le 1er janvier 1970, minuit UTC"
          example: 1760939974755
          format: int64
          type: integer
      type: object
    PillageCountry:
      example:
        metadata:
          date: 2025-10-21
          filteredCount: 42
          server: red
          dataType: example
          executionTimeMs: 210
          totalPages: 3
          pageSize: 20
          totalCount: 50
          currentPage: 1
          timestamp: 1760939974755
        data:
        - powerMax: 150
          level: 10
          notationPosition: 1
          players: 5
          name: France
          power: 100
        - powerMax: 150
          level: 10
          notationPosition: 1
          players: 5
          name: France
          power: 100
      properties:
        data:
          items:
            $ref: "#/components/schemas/PillageCountryEntry"
          type: array
        metadata:
          $ref: "#/components/schemas/Metadata"
      type: object
    PillageCountryEntry:
      description: Données d'un pays en pillage
      example:
        powerMax: 150
        level: 10
        notationPosition: 1
        players: 5
        name: France
        power: 100
      properties:
        name:
          description: Le nom du pays
          example: France
          type: string
        level:
          description: Le niveau du pays
          example: 10
          format: int32
          type: integer
        players:
          description: Le nombre de joueur total dans le pays
          example: 5
          format: int32
          type: integer
        notationPosition:
          description: La position dans le classement du serveur aux dernières notation
          example: 1
          format: int32
          type: integer
        power:
          description: Le power actuel du pays
          example: 100
          format: int32
          type: integer
        powerMax:
          description: Le power max du pays
          example: 150
          format: int32
          type: integer
      type: object
    ArchitectureEntry:
      example:
        surfaceConstruite: 1.5
        batimentsAbandonnes: 1
        coherenceStyle: 2
        blocsCatalogue: 2
        staff: Romaindu35
        coherenceLumieres: 1
        activiteRecente: 3
        roleplayPays: 1
        trouMissiles: 0
        biomeCoherent: 1
        utilisationSchematica: 0
        beauteGenerale: 3.5
        terraforming: 2
        habitabiliteMaison: 2
        organics: 1
      properties:
        terraforming:
          description: Terraforming (entre 0 et 2)
          example: 2
          format: int32
          type: integer
        coherenceStyle:
          description: Cohérence du style (entre 0 et 2)
          example: 2
          format: int32
          type: integer
        activiteRecente:
          description: Activité récente (entre 0 et 4)
          example: 3
          format: int32
          type: integer
        blocsCatalogue:
          description: Utilisation de blocs du catalogue (entre 0 et 2)
          example: 2
          format: int32
          type: integer
        trouMissiles:
          description: Présence de trous de missiles (entre 0 et -4)
          example: 0
          format: int32
          type: integer
        beauteGenerale:
          description: Beauté générale du pays (entre 0 et 4)
          example: 3.5
          format: double
          type: number
        habitabiliteMaison:
          description: Habitabilité des maisons (entre 0 et 2)
          example: 2
          format: int32
          type: integer
        biomeCoherent:
          description: Cohérence avec le biome (entre 0 et 1)
          example: 1
          format: int32
          type: integer
        batimentsAbandonnes:
          description: "Absence de bâtiments abandonnés (1 si aucun, 0 sinon)"
          example: 1
          format: int32
          type: integer
        utilisationSchematica:
          description: "Utilisation de schematica (0 si non, -1 si oui)"
          example: 0
          format: int32
          type: integer
        coherenceLumieres:
          description: Cohérence des lumières (entre 0 et 1)
          example: 1
          format: int32
          type: integer
        roleplayPays:
          description: Respect du roleplay du pays (entre 0 et 1)
          example: 1
          format: int32
          type: integer
        organics:
          description: Présence d'organics (entre 0 et 1)
          example: 1
          format: int32
          type: integer
        surfaceConstruite:
          description: Multiplicateur de surface construite (entre x0 et x2.0)
          example: 1.5
          format: double
          type: number
        staff:
          description: Le username du staff qui a noté le pays
          example: Romaindu35
          type: string
      type: object
    Notation:
      example:
        metadata:
          date: 2025-10-21
          filteredCount: 42
          server: red
          dataType: example
          executionTimeMs: 210
          totalPages: 3
          pageSize: 20
          totalCount: 50
          currentPage: 1
          timestamp: 1760939974755
        data:
        - country: France
          server: blue
          activity: 4.5
          noteArchitecturale: 35.5
          economy: 9
          rangInterserv: 5
          gestion: 8
          skills: 3.5
          total: 85
          bourse: 32000
          bourseUnesco: 8000
          unesco: 3
          endbringer: 0
          from: 2026-02-15
          military: 7.5
          to: 2026-02-09
          antimatter: 2
          spatial: 1
          rang: 1
          redmatter: 0
          architecture:
            surfaceConstruite: 1.5
            batimentsAbandonnes: 1
            coherenceStyle: 2
            blocsCatalogue: 2
            staff: Romaindu35
            coherenceLumieres: 1
            activiteRecente: 3
            roleplayPays: 1
            trouMissiles: 0
            biomeCoherent: 1
            utilisationSchematica: 0
            beauteGenerale: 3.5
            terraforming: 2
            habitabiliteMaison: 2
            organics: 1
        - country: France
          server: blue
          activity: 4.5
          noteArchitecturale: 35.5
          economy: 9
          rangInterserv: 5
          gestion: 8
          skills: 3.5
          total: 85
          bourse: 32000
          bourseUnesco: 8000
          unesco: 3
          endbringer: 0
          from: 2026-02-15
          military: 7.5
          to: 2026-02-09
          antimatter: 2
          spatial: 1
          rang: 1
          redmatter: 0
          architecture:
            surfaceConstruite: 1.5
            batimentsAbandonnes: 1
            coherenceStyle: 2
            blocsCatalogue: 2
            staff: Romaindu35
            coherenceLumieres: 1
            activiteRecente: 3
            roleplayPays: 1
            trouMissiles: 0
            biomeCoherent: 1
            utilisationSchematica: 0
            beauteGenerale: 3.5
            terraforming: 2
            habitabiliteMaison: 2
            organics: 1
      properties:
        data:
          items:
            $ref: "#/components/schemas/NotationEntry"
          type: array
        metadata:
          $ref: "#/components/schemas/Metadata"
      type: object
    NotationEntry:
      example:
        country: France
        server: blue
        activity: 4.5
        noteArchitecturale: 35.5
        economy: 9
        rangInterserv: 5
        gestion: 8
        skills: 3.5
        total: 85
        bourse: 32000
        bourseUnesco: 8000
        unesco: 3
        endbringer: 0
        from: 2026-02-15
        military: 7.5
        to: 2026-02-09
        antimatter: 2
        spatial: 1
        rang: 1
        redmatter: 0
        architecture:
          surfaceConstruite: 1.5
          batimentsAbandonnes: 1
          coherenceStyle: 2
          blocsCatalogue: 2
          staff: Romaindu35
          coherenceLumieres: 1
          activiteRecente: 3
          roleplayPays: 1
          trouMissiles: 0
          biomeCoherent: 1
          utilisationSchematica: 0
          beauteGenerale: 3.5
          terraforming: 2
          habitabiliteMaison: 2
          organics: 1
      properties:
        country:
          description: Le nom du pays
          example: France
          type: string
        server:
          description: Le serveur sur lequel est le pays
          example: blue
          type: string
        from:
          description: La date du début de la semaine notée (yyyy-MM-dd)
          example: 2026-02-15
          type: string
        to:
          description: La date de fin de la semaine notée (yyyy-MM-dd)
          example: 2026-02-09
          type: string
        activity:
          description: Activité du pays (entre 0 et 5)
          example: 4.5
          format: double
          type: number
        gestion:
          description: Gestion du pays (entre 0 et 10)
          example: 8
          format: double
          type: number
        skills:
          description: Skills du pays (entre 0 et 5)
          example: 3.5
          format: double
          type: number
        economy:
          description: Economie du pays (entre 0 et 11)
          example: 9
          format: double
          type: number
        military:
          description: Militaire du pays (entre 0 et 11)
          example: 7.5
          format: double
          type: number
        antimatter:
          description: Possession d'un missile antimatière (0 ou 2)
          example: 2
          format: int32
          type: integer
        redmatter:
          description: Possession d'un missile redmatter (0 ou 3)
          example: 0
          format: int32
          type: integer
        endbringer:
          description: Possession d'un missile endbringer (0 ou 5)
          example: 0
          format: int32
          type: integer
        spatial:
          description: "Points lié au spatiale. 1 points par planète dont il y a plus\
            \ de 10 chunks. Les planète étant lune, mars et edora (entre 0 et 3)"
          example: 1
          format: int32
          type: integer
        unesco:
          description: "Points lié à la possession d'un batiment classé unesco. 3\
            \ points si 1 batiment, 5 points si 2 ou plus (entre 0 et 5)"
          example: 3
          format: int32
          type: integer
        noteArchitecturale:
          description: Note totale en architecture (entre 0 et 42)
          example: 35.5
          format: double
          type: number
        architecture:
          $ref: "#/components/schemas/ArchitectureEntry"
        total:
          description: Le total de la note (entre 0 et 102)
          example: 85
          format: double
          type: number
        rang:
          description: Le rang du pays sur le serveur
          example: 1
          format: int32
          type: integer
        rangInterserv:
          description: Le rang du pays à l'interserveur
          example: 5
          format: int32
          type: integer
        bourse:
          description: La bourse versée au pays
          example: 32000
          format: double
          type: number
        bourseUnesco:
          description: La bourse obtenue grâce aux UNESCO
          example: 8000
          format: double
          type: number
      type: object
    NoelMegagift2025:
      example:
        metadata:
          date: 2025-10-21
          filteredCount: 42
          server: red
          dataType: example
          executionTimeMs: 210
          totalPages: 3
          pageSize: 20
          totalCount: 50
          currentPage: 1
          timestamp: 1760939974755
        data:
        - server: red
          loots:
          - Multi Outil
          - Hâche Guerrier de Glace
          - Plan - Fusée spatiale
          - Hâche Guerrier de Glace Légendaire
          username: Paskap
          timestamp: 1766179080000
        - server: red
          loots:
          - Multi Outil
          - Hâche Guerrier de Glace
          - Plan - Fusée spatiale
          - Hâche Guerrier de Glace Légendaire
          username: Paskap
          timestamp: 1766179080000
[...]
