{
  "openapi": "3.0.1",
  "info": {
    "title": "Yoxo API Server",
    "description": "API REST exposant diverses données liées aux serveurs de NationsGlory.\n\n## À propos\nCette API centralise et expose différents types de données relatives aux serveurs de NationsGlory :\n- **Routes `/v2/java/*`** : Données collectées par scraping direct sur les serveurs Java de NationsGlory. Pour cela, le protocole 78 (Minecraft 1.6.4) est pleinement utilisé.\n- **Autres routes** (à venir) : Données obtenues par d'autres méthodes (API officielles, DynMap, etc.)\n\n## Authentification\nL'API utilise le flux OAuth2 Client Credentials. Pour vous authentifier :\n1. Obtenez vos identifiants client (client_id et client_secret) depuis le serveur d'authentification de Yoxo\n2. Demandez un jeton d'accès : `POST https://auth.yoxo.software/oauth2/token`\n   ```\n   grant_type=client_credentials\n   &client_id=votre_client_id\n   &client_secret=votre_client_secret\n   &scope=api_access\n   ```\n3. Incluez le jeton dans l'en-tête Authorization : `Bearer <token>`\n\n## Filtrage RSQL\nUtilisez le paramètre de requête `filter` avec la syntaxe RSQL :\n- **Opérateurs** : `==`, `!=`, `>`, `>=`, `<`, `<=`\n- **Logique** : `;` (ET), `,` (OU), `()` pour grouper\n- **Wildcards** : `*` pour contains/startsWith/endsWith\n- **Exemples** :\n  - `b>100000` : niveau global > 100000\n  - `u==*Romain*` : nom d'utilisateur contenant \"Romain\"\n  - `b>500000;bP<100` : niveau > 500000 ET position < 100\n  - `(u==*35*,u==*76*)` : nom contenant \"35\" OU \"76\"\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.yoxo.software",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "oauth2_client_credentials": []
    }
  ],
  "tags": [
    {
      "name": "API Java",
      "description": "Endpoints exposant les données de jeu scrapées depuis les serveurs Java de NationsGlory. Supporte le filtrage RSQL et la pagination pour s'adapter aux divers usages."
    }
  ],
  "paths": {
    "/v2/java/cereal_global_market/{date}/{javaServer}": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "Cereal Global Market",
        "description": "Permet d'obtenir les données du marché global des céréales pour un serveur spécifique à une date donnée.\n\nCes données incluent :\n- Les graphiques de l'évolution des prix, des ventes et des stocks\n- L'historique des prix, ventes et stocks par type de céréale\n- Les prix actuels des céréales\n\n**Fréquence de mise à jour :**\nLes données sont actualisées tous les jours impairs du mois (environ une fois tous les 2 jours), généralement la nuit.\n\n**Note :** Ces données représentent un objet unique (pas une liste), donc le filtrage et la pagination ne sont pas applicables.\n",
        "operationId": "getCerealGlobalMarket",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-28"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CerealGlobalMarket"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/country/{date}/{javaServer}": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "Country",
        "description": "Permet d'obtenir la liste et les détails complets de tous les pays d'un serveur à une date donnée (aucun filtrage possible).\nIl est possible de spécifier un pays dans l'URL pour récupérer un pays spécifique.\n\n**Données exposées :**\n- Informations générales (nom, description, niveau, power, claims...)\n- Relations (alliance, guerres)\n- Membres (liste, rôles, recrues)\n- Économie (banque, actions)\n- Paramètres et permissions\n\n**Fréquence de mise à jour :**\nLes données sont actualisées tous les jours, généralement la nuit.\n",
        "operationId": "getCountry",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Java"
        ],
        "summary": "Country",
        "description": "Permet d'obtenir la liste et les détails complets de tous les pays d'un serveur à une date donnée (avec filtrage possible).\n\n**Données exposées :**\n- Informations générales (nom, description, niveau, power, claims...)\n- Relations (alliance, guerres)\n- Membres (liste, rôles, recrues)\n- Économie (banque, actions)\n- Paramètres et permissions\n\n**Fréquence de mise à jour :**\nLes données sont actualisées tous les jours, généralement la nuit.\n",
        "operationId": "postCountry",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQueryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/country/{date}/{javaServer}/{country}": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "Country",
        "description": "Permet d'obtenir la liste et les détails complets de tous les pays d'un serveur à une date donnée (aucun filtrage possible).\nIl est possible de spécifier un pays dans l'URL pour récupérer un pays spécifique.\n\n**Données exposées :**\n- Informations générales (nom, description, niveau, power, claims...)\n- Relations (alliance, guerres)\n- Membres (liste, rôles, recrues)\n- Économie (banque, actions)\n- Paramètres et permissions\n\n**Fréquence de mise à jour :**\nLes données sont actualisées tous les jours, généralement la nuit.\n",
        "operationId": "getCountry_1",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          },
          {
            "name": "country",
            "in": "path",
            "description": "Nom du pays (optionnel)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/enterprise/{date}/{javaServer}": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "Enterprise",
        "description": "Permet d'obtenir la liste de toutes les entreprises sur un serveur à une date donnée.\nChaque entreprise contient des champs communs (nom, propriétaire, employés, contrats) et des champs\nspécifiques selon son type (ex: historique des gains pour les casinos, production pour les centrales électriques).\nIl est possible de filtrer par nom d'entreprise.\n\n**Types d'entreprises :**\n- Casino : Entreprises de casino\n- Electric : Entreprises électriques\n- Farm : Entreprises agricoles\n- Petrol : Entreprises pétrolières\n- Trader : Entreprises de trading\n- Bet : Entreprises de paris\n- RealEstate : Entreprises immobilières (location de parcelles)\n- Build, Engineer, Terraform, Journalist, PVP, Loan, Repair, Lawyer : Entreprises de services\n\n**Fréquence de mise à jour :**\nLes données sont actualisées tous les lundis matin.\n",
        "operationId": "getEnterprises",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          },
          {
            "name": "enterpriseType",
            "in": "query",
            "description": "Type d'entreprise (optionnel)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "build",
                "engineer",
                "terraform",
                "journalist",
                "casino",
                "pvp",
                "loan",
                "realestate",
                "trader",
                "bet",
                "repair",
                "lawyer",
                "electric",
                "petrol",
                "farm"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enterprise"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Java"
        ],
        "summary": "Enterprise",
        "description": "Permet d'obtenir la liste de toutes les entreprises sur un serveur à une date donnée.\nChaque entreprise contient des champs communs (nom, propriétaire, employés, contrats) et des champs\nspécifiques selon son type (ex: historique des gains pour les casinos, production pour les centrales électriques).\n\n**Types d'entreprises :**\n- Casino : Entreprises de casino\n- Electric : Entreprises électriques\n- Farm : Entreprises agricoles\n- Petrol : Entreprises pétrolières\n- Trader : Entreprises de trading\n- Bet : Entreprises de paris\n- RealEstate : Entreprises immobilières (location de parcelles)\n- Build, Engineer, Terraform, Journalist, PVP, Loan, Repair, Lawyer : Entreprises de services\n\n**Fréquence de mise à jour :**\nLes données sont actualisées tous les lundis matin.\n",
        "operationId": "postEnterprises",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQueryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enterprise"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/enterprise/{date}/{javaServer}/{enterpriseName}": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "Enterprise",
        "description": "Permet d'obtenir la liste de toutes les entreprises sur un serveur à une date donnée.\nChaque entreprise contient des champs communs (nom, propriétaire, employés, contrats) et des champs\nspécifiques selon son type (ex: historique des gains pour les casinos, production pour les centrales électriques).\nIl est possible de filtrer par nom d'entreprise.\n\n**Types d'entreprises :**\n- Casino : Entreprises de casino\n- Electric : Entreprises électriques\n- Farm : Entreprises agricoles\n- Petrol : Entreprises pétrolières\n- Trader : Entreprises de trading\n- Bet : Entreprises de paris\n- RealEstate : Entreprises immobilières (location de parcelles)\n- Build, Engineer, Terraform, Journalist, PVP, Loan, Repair, Lawyer : Entreprises de services\n\n**Fréquence de mise à jour :**\nLes données sont actualisées tous les lundis matin.\n",
        "operationId": "getEnterprises_1",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          },
          {
            "name": "enterpriseName",
            "in": "path",
            "description": "Nom de l'entreprise (optionnel)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enterpriseType",
            "in": "query",
            "description": "Type d'entreprise (optionnel)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "build",
                "engineer",
                "terraform",
                "journalist",
                "casino",
                "pvp",
                "loan",
                "realestate",
                "trader",
                "bet",
                "repair",
                "lawyer",
                "electric",
                "petrol",
                "farm"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enterprise"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/halloween-2025/{date}": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "Halloween 2025",
        "description": "Permet d'obtenir les statistiques des joueurs du top 50 de l'événement Halloween 2025 \"Demon's Return\" à une date donnée (aucun filtrage possible).\nSeuls les joueurs du top 50 interserveur sont accessibles (limitation du serveur).\n\n**À propos de l'événement :**\nL'événement \"Demon's Return\" est un événement global interserveur où l'objectif est de collecter des âmes et tuer des démons pour empêcher l'invasion démoniaque.\nLe classement est identique sur tous les serveurs puisqu'il s'agit d'un événement global à NationsGlory.\n\n**Fréquence de mise à jour :**\nLes données sont actualisées quotidiennement pendant toute la durée de l'événement (du 21/10/2025 au 04/11/2025), généralement la nuit.\n\n**Documentation :**\nPlus d'informations sur l'événement : https://wiki.nationsglory.fr/fr/article/halloween-2025-demons-return-1lfsu05/\n",
        "operationId": "getHalloween2025",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-28"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Halloween2025"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Java"
        ],
        "summary": "Halloween 2025",
        "description": "Permet d'obtenir les statistiques des joueurs du top 50 de l'événement Halloween 2025 \"Demon's Return\" à une date donnée (avec filtrage possible).\nSeuls les joueurs du top 50 interserveur sont disponibles (limitation du serveur).\n\n**À propos de l'événement :**\nL'événement \"Demon's Return\" est un événement global interserveur où l'objectif est de collecter des âmes et tuer des démons pour empêcher l'invasion démoniaque.\nLe classement est identique sur tous les serveurs puisqu'il s'agit d'un événement global à NationsGlory.\n\n**Fréquence de mise à jour :**\nLes données sont actualisées quotidiennement pendant toute la durée de l'événement (du 21/10/2025 au 04/11/2025), généralement la nuit.\n\n**Documentation :**\nPlus d'informations sur l'événement : https://wiki.nationsglory.fr/fr/article/halloween-2025-demons-return-1lfsu05/\n",
        "operationId": "postHalloween2025",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-28"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQueryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Halloween2025"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/noelmegagift-2024": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "Noël Megagift 2024",
        "description": "Permet d'obtenir les données des tirages du Mega Cadeau de l'événement \"The Key Guardian\" (Noël 2024).\n\n**À propos de l'événement :**\nL'événement \"The Key Guardian\" est l'événement de Noël 2024 où les joueurs doivent\nà récupérer 9 clés perdues pour assembler une Méga Clé et débloquer le Mega Cadeau.\nChaque tirage du Mega Cadeau offre jusqu'à 4 récompenses selon le nombre de joueurs présents (armes exclusives,\nplans rares, items légendaires, cosmétiques).\n\n**Période de l'événement :** Du 24/12/2024 au 12/01/2025\n\n**Données exposées :**\nChaque entrée représente un tirage individuel du Mega Gift par un joueur, avec les items obtenus\net la date/heure du tirage.\n",
        "operationId": "getNoelMegagift2024",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoelMegagift2024"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Java"
        ],
        "summary": "Noël Megagift 2024",
        "description": "Permet d'obtenir les données des tirages du Mega Cadeau de l'événement \"The Key Guardian\" (Noël 2024).\n\n**À propos de l'événement :**\nL'événement \"The Key Guardian\" est l'événement de Noël 2024 où les joueurs doivent\nà récupérer 9 clés perdues pour assembler une Méga Clé et débloquer le Mega Cadeau.\nChaque tirage du Mega Cadeau offre jusqu'à 4 récompenses selon le nombre de joueurs présents (armes exclusives,\nplans rares, items légendaires, cosmétiques).\n\n**Période de l'événement :** Du 24/12/2024 au 12/01/2025\n\n**Données exposées :**\nChaque entrée représente un tirage individuel du Mega Gift par un joueur, avec les items obtenus\net la date/heure du tirage.\n",
        "operationId": "postNoelMegagift2024",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQueryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoelMegagift2024"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/noelmegagift-2025/{date}": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "Noël Megagift 2025",
        "description": "Permet d'obtenir les données des tirages du Mega Cadeau de l'événement de Noël 2025.\n\n**À propos de l'événement :**\nÉvénement interserveur où les joueurs peuvent obtenir des récompenses exclusives via le Mega Cadeau.\nPlus d'informations sur l'événement : https://wiki.nationsglory.fr/fr/article/lile-du-pere-noel-rv8x0t/#2-le-mega-cadeau-recompense-ultime\n\n**Période de l'événement :** Du 14/12/2025 au 15/01/2026\n\n**Données exposées :**\nChaque entrée représente un tirage individuel du Mega cadeau par un joueur, avec les items obtenus\net la date/heure du tirage.\n\n**Fréquence de mise à jour :**\nLes données sont actualisées quotidiennement pendant toute la durée de l'événement (du 14/12/2025 au 06/01/2026), généralement la nuit.\n",
        "operationId": "getNoelMegagift2025",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoelMegagift2025"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Java"
        ],
        "summary": "Noël Megagift 2025",
        "description": "Permet d'obtenir les données des tirages du Mega Cadeau de l'événement de Noël 2025 (filtrage RSQL possible).\n\n**À propos de l'événement :**\nÉvénement interserveur où les joueurs peuvent obtenir des récompenses exclusives via le Mega Cadeau.\nPlus d'informations sur l'événement : https://wiki.nationsglory.fr/fr/article/lile-du-pere-noel-rv8x0t/#2-le-mega-cadeau-recompense-ultime\n\n**Période de l'événement :** Du 14/12/2025 au 06/01/2026\n\n**Données exposées :**\nChaque entrée représente un tirage individuel du Mega cadeau par un joueur, avec les items obtenus\net la date/heure du tirage.\n\n**Fréquence de mise à jour :**\nLes données sont actualisées quotidiennement pendant toute la durée de l'événement (du 14/12/2025 au 06/01/2026), généralement la nuit.\n",
        "operationId": "postNoelMegagift2025",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQueryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoelMegagift2025"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/player-list/{date}/{javaServer}": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "Player List",
        "description": "Permet d'obtenir la liste des joueurs s'étant connectés au moins une fois au cours des 14 derniers jours sur un serveur à une date donnée (aucun filtrage possible).\n\n**Fréquence de mise à jour :**\nLes données sont actualisées quotidiennement, généralement la nuit.\n",
        "operationId": "getPlayerList",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-28"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Java"
        ],
        "summary": "Player List",
        "description": "Permet d'obtenir la liste des joueurs s'étant connectés au moins une fois au cours des 14 derniers jours sur un serveur à une date donnée (avec filtrage possible).\n\n**Fréquence de mise à jour :**\nLes données sont actualisées quotidiennement, généralement la nuit.\n",
        "operationId": "postPlayerList",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-28"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQueryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/research/{date}/config": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "Research Config",
        "description": "Permet d'obtenir la configuration globale de tous les domaines de recherche disponibles dans NationsGlory.\nCette configuration est identique pour tous les serveurs et définit les niveaux, conditions et récompenses.\n\n**Contenu de la configuration :**\n- Noms et descriptions des domaines de recherche\n- Niveaux maximum par domaine\n- Conditions requises par niveau\n- Récompenses obtenues par niveau\n- Durées de recherche\n\n**Fréquence de mise à jour :**\nLes données sont actualisées tous les jours impairs du mois (environ une fois tous les 2 jours), généralement la nuit.\n",
        "operationId": "getResearchConfig",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResearchConfig"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/research/{date}/{javaServer}": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "Research Server",
        "description": "Permet d'obtenir les niveaux de recherche actuels de tous les pays d'un serveur à une date donnée (sans filtrage).\n\n**Données exposées :**\n- Niveaux actuels de recherche par domaine pour chaque pays\n- Dernière recherche complétée par chaque pays\n- Valeurs actuelles des conditions de recherche\n\n**Fréquence de mise à jour :**\nLes données sont actualisées tous les jours impairs du mois (environ une fois tous les 2 jours), généralement la nuit.\n",
        "operationId": "getResearchServer",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResearchServer"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Java"
        ],
        "summary": "Research Server",
        "description": "Permet d'obtenir les niveaux de recherche actuels de tous les pays d'un serveur à une date donnée (avec filtrage possible).\n\n**Données exposées :**\n- Niveaux actuels de recherche par domaine pour chaque pays\n- Dernière recherche complétée par chaque pays\n- Valeurs actuelles des conditions de recherche\n\n**Exemples de filtres RSQL :**\n- `country==Papouasie` - Pays nommé exactement \"Papouasie\"\n- `country==*Terre*` - Pays dont le nom contient \"Terre\"\n- `lastResearch.level>3` - Pays dont la dernière recherche a atteint un niveau > 3\n- `lastResearch.domain==militaire` - Pays dont la dernière recherche était dans le domaine militaire\n- `lastResearch.timestamp>1735689600000` - Pays dont la dernière recherche a été complétée après cette date\n\n**Fréquence de mise à jour :**\nLes données sont actualisées tous les jours pairs du mois (environ une fois tous les 2 jours), généralement la nuit.\n",
        "operationId": "postResearchServer",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQueryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResearchServer"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/skill/{date}/{javaServer}": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "Skill",
        "description": "Permet d'obtenir les compétences des joueurs présents dans au moins 1 top 50 compétences sur un serveur à une date donnée (aucun filtrage possible).\nSeuls les joueurs figurant dans le top 50 d'au moins une compétence sur le serveur sont inclus pour éviter de surcharger les serveurs.\n\n**Fréquence de mise à jour :**\nLes données sont actualisées tous les jours pairs du mois (environ une fois tous les 2 jours), généralement la nuit.\n\n**Documentation :**\nPlus d'informations sur les compétences/skills : https://wiki.nationsglory.fr/fr/article/les-competences-java-1shixp7/\n",
        "operationId": "getSkill",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-28"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur (red, blue...)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skill"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Java"
        ],
        "summary": "Skill",
        "description": "Permet d'obtenir les compétences des joueurs présents dans au moins 1 top 50 compétences sur un serveur à une date donnée (avec filtrage possible).\nSeuls les joueurs figurant dans le top 50 d'au moins une compétence sur le serveur sont inclus pour éviter de surcharger les serveurs.\n\n**Fréquence de mise à jour :**\nLes données sont actualisées tous les jours pairs du mois (environ une fois tous les 2 jours), généralement la nuit.\n\n**Documentation :**\nPlus d'informations sur les compétences/skills : https://wiki.nationsglory.fr/fr/article/les-competences-java-1shixp7/\n",
        "operationId": "postSkill",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-28"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQueryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skill"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/war/{date}/{javaServer}": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "War",
        "description": "Permet d'obtenir la liste des guerres (en cours ou terminées) d'un serveur à une date donnée.\nIl est possible de spécifier un warId dans l'URL pour récupérer une guerre spécifique.\n\n**Données exposées :**\n- Identifiant, dates (déclaration, début), raison\n- Participants (attaquant, défenseur) avec détails (pays, points missiles, progression...)\n- Conditions de victoire\n- Récompenses\n- Détails des assauts et missiles lancés\n\n**Fréquence de mise à jour :**\nLes données sont actualisées quotidiennement, généralement la nuit.\n",
        "operationId": "getWar",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/War"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Java"
        ],
        "summary": "War",
        "description": "Permet d'obtenir la liste des guerres (en cours ou terminées) d'un serveur à une date donnée (avec filtrage possible).\n\n**Données exposées :**\n- Identifiant, dates (déclaration, début), raison\n- Participants (attaquant, défenseur) avec détails (pays, points missiles, progression...)\n- Conditions de victoire\n- Récompenses\n- Détails des assauts et missiles lancés\n\n**Fréquence de mise à jour :**\nLes données sont actualisées quotidiennement, généralement la nuit.\n",
        "operationId": "postWar",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostQueryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/War"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    },
    "/v2/java/war/{date}/{javaServer}/{warId}": {
      "get": {
        "tags": [
          "API Java"
        ],
        "summary": "War",
        "description": "Permet d'obtenir la liste des guerres (en cours ou terminées) d'un serveur à une date donnée.\nIl est possible de spécifier un warId dans l'URL pour récupérer une guerre spécifique.\n\n**Données exposées :**\n- Identifiant, dates (déclaration, début), raison\n- Participants (attaquant, défenseur) avec détails (pays, points missiles, progression...)\n- Conditions de victoire\n- Récompenses\n- Détails des assauts et missiles lancés\n\n**Fréquence de mise à jour :**\nLes données sont actualisées quotidiennement, généralement la nuit.\n",
        "operationId": "getWar_1",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-11-24"
          },
          {
            "name": "javaServer",
            "in": "path",
            "description": "Serveur",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "yellow",
                "white",
                "black",
                "cyan",
                "lime",
                "coral",
                "pink",
                "purple",
                "green",
                "red",
                "mocha",
                "jade"
              ]
            },
            "example": "red"
          },
          {
            "name": "warId",
            "in": "path",
            "description": "ID de la guerre (optionnel)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/War"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_client_credentials": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "PostQueryBody": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "string",
            "description": "Permet de filtrer les résultats avec des expressions RSQL dans le corps de la requête.\n- Opérateurs de comparaison : `==`, `!=`, `>`, `>=`, `<`, `<=`\n- Opérateurs logiques : `;` (ET), `,` (OU), parenthèses pour grouper\n- Wildcards : `*` pour contient/commence par/finit par (ex: `username==*Didje*`)\n\n__Exemples de filtres :__\n- `builder>100000` : joueurs avec plus de 100000 XP en Builder\n- `username==*Romain*` : joueurs dont le nom contient \"Romain\"\n- `builder>500000;builderPosition<100` : XP Builder > 500000 ET position < 100\n- `(username==*77*,username==*24*)` : nom contient \"77\" OU \"24\"\n",
            "nullable": true,
            "example": "builder>100000;builderPosition<100"
          },
          "page": {
            "minimum": 1,
            "type": "integer",
            "description": "Le numéro de page à récupérer (la première page est la page 1)",
            "format": "int32",
            "nullable": true,
            "example": 1
          },
          "size": {
            "minimum": 1,
            "type": "integer",
            "description": "Le nombre d'éléments par page",
            "format": "int32",
            "nullable": true,
            "example": 50
          }
        },
        "description": "Le corps de la requête pour les endpoints POST /v2/data/{type}/{date}/{server}/query permettant des requêtes complexes avec filtrage et pagination"
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "dataType": {
            "type": "string",
            "description": "Le type de données (researches, skill, enterprise, ...)",
            "example": "example"
          },
          "server": {
            "type": "string",
            "description": "Le serveur duquel est issue les données. Dans le cas de données issue d'un évènement interserveur, le serveur sera 'event'",
            "example": "red"
          },
          "timestamp": {
            "type": "integer",
            "description": "Timestamp auquel les données ont été scrap. Le timestamp est ici exprimé en milliseconde et correspond au nombre de milliseconde écoulées depuis le 1er janvier 1970, minuit UTC",
            "format": "int64",
            "example": 1760939974755
          },
          "date": {
            "type": "string",
            "description": "La date auquel les données ont été scrap, au format ISO",
            "example": "2025-10-21"
          },
          "executionTimeMs": {
            "type": "integer",
            "description": "Le temps d'exécution de la requête, en millisecondes",
            "format": "int64",
            "example": 210
          },
          "totalCount": {
            "type": "integer",
            "description": "Si filtrage possible, nombre d'éléments avant le filtrage",
            "format": "int32",
            "example": 50
          },
          "filteredCount": {
            "type": "integer",
            "description": "Si filtrage possible, nombre d'éléments après le filtrage",
            "format": "int32",
            "example": 42
          },
          "currentPage": {
            "type": "integer",
            "description": "Si pagination, le page actuel",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Si pagination, le nombre d'éléments par pages",
            "format": "int32",
            "example": 20
          },
          "totalPages": {
            "type": "integer",
            "description": "Si pagination, le nombre total de pages. La première page est la page 1",
            "format": "int32",
            "example": 3
          }
        }
      },
      "War": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WarEntry"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "WarAssault": {
        "type": "object",
        "properties": {
          "startAt": {
            "type": "integer",
            "description": "Timestamp (ms) du début de l'assaut",
            "format": "int64",
            "example": 1735695000000
          },
          "winner": {
            "type": "string",
            "description": "Nom du pays vainqueur de l'assaut",
            "example": "TerreSigny"
          },
          "looser": {
            "type": "string",
            "description": "Nom du pays perdant de l'assaut",
            "example": "TerreAdelie"
          },
          "mmrWinner": {
            "type": "integer",
            "description": "MMR gagné par le pays vainqueur suite à sa victoire sur l'assaut",
            "format": "int32",
            "example": 25
          },
          "mmrLooser": {
            "type": "integer",
            "description": "MMR perdu par le pays perdant suite à sa défaite sur l'assaut. Attention, pour signifier la perte, le nombre est négatif.",
            "format": "int32",
            "example": -25
          },
          "winnerHelpers": {
            "type": "array",
            "description": "Liste des pays ayant aidé le vainqueur",
            "items": {
              "type": "string",
              "description": "Liste des pays ayant aidé le vainqueur"
            }
          },
          "looserHelpers": {
            "type": "array",
            "description": "Liste des pays ayant aidé le perdant",
            "items": {
              "type": "string",
              "description": "Liste des pays ayant aidé le perdant"
            }
          }
        },
        "description": "Détails d'un assaut au sein de la guerre"
      },
      "WarCondition": {
        "type": "object",
        "properties": {
          "kill": {
            "type": "integer",
            "description": "Nombre de kills effectués",
            "format": "int32",
            "example": 10
          },
          "victory": {
            "type": "integer",
            "description": "Nombre d'assauts gagnés",
            "format": "int32",
            "example": 2
          },
          "missilePoints": {
            "type": "integer",
            "description": "Nombre de points obtenus lors des tirs de missile",
            "format": "int32",
            "example": 50
          },
          "assaultPoints": {
            "type": "integer",
            "description": "Nombre de points obtenus lors des assauts",
            "format": "int32",
            "example": 1500
          },
          "antimatter": {
            "type": "integer",
            "description": "Nombre d'antimmater tiré",
            "format": "int32",
            "example": 1
          },
          "redmatter": {
            "type": "integer",
            "description": "Nombre de redmatter tiré",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Valeurs des conditions de victoire (objectifs ou progression)"
      },
      "WarEntry": {
        "type": "object",
        "properties": {
          "warId": {
            "type": "string",
            "description": "Identifiant unique de la guerre permettant de lier avec les données des pays",
            "example": "99101e976cb0dc7ca57a54e5849dbe0943a7544e"
          },
          "warDeclaredAt": {
            "type": "integer",
            "description": "Timestamp (ms) de la déclaration de guerre",
            "format": "int64",
            "example": 1735689600000
          },
          "warStartAt": {
            "type": "integer",
            "description": "Timestamp (ms) du début effectif de la guerre",
            "format": "int64",
            "example": 1735693200000
          },
          "warsInitiatedBy": {
            "type": "string",
            "description": "Joueur ayant initié la guerre via la commande /f enemy",
            "example": "Romaindu35"
          },
          "reason": {
            "type": "string",
            "description": "Raison de la déclaration de guerre",
            "example": "KILL_WILDERNESS",
            "enum": [
              "KILL_WILDERNESS",
              "PROVOCATION",
              "TERRITORIAL_EXPANSION",
              "TREASON",
              "INTRUSION",
              "SCAM",
              "TPKILL",
              "COLONY_IMDEPENDENCE",
              "COLONY_REFUSAL",
              "COLONY_PROTECTION",
              "COLONY_STEAL",
              "BUFFER_COUNTRY",
              "UNDER_POWER",
              "REPRISAL",
              "FOLLOW_WAR",
              "MMR500",
              "EMPIRE_RIVALITY",
              "WAR_REVENGE",
              "BOMBING_ASSISTANCE",
              "WARZONE_DOMINATION",
              "PROTECTORAT"
            ]
          },
          "target": {
            "type": "string",
            "description": "Le pays ou joueur ayant donné la raison de guerre (peut être nul selon la raison)",
            "example": "Romaindu35"
          },
          "targetGrade": {
            "type": "string",
            "description": "Grade du joueur ayant donné la raison de guerre (au moment de la raison de la guerre)",
            "example": "LEADER",
            "enum": [
              "RECRUIT",
              "MEMBER",
              "OFFICER",
              "LEADER"
            ]
          },
          "status": {
            "type": "string",
            "description": "Statut actuel de la guerre (ex: IN_PROGRESS, FINISHED)",
            "example": "IN_PROGRESS",
            "enum": [
              "IN_PROGRESS",
              "WAITING_VALIDATION",
              "WAITING_CONDITIONS_ATT",
              "WAITING_CONDITIONS_DEF",
              "WAITING_CONDITIONS_ATT_VALIDATION",
              "FINISHED",
              "REFUSED"
            ]
          },
          "winner": {
            "type": "string",
            "description": "Le nom du pays vainqueur de la guerre (si terminée)",
            "example": "TerreSigny"
          },
          "daysBeforeMissilePointReset": {
            "type": "integer",
            "description": "Nombre de jours restants avant la réinitialisation des points missile",
            "format": "int32",
            "example": 5
          },
          "attacker": {
            "$ref": "#/components/schemas/WarParticipant"
          },
          "defender": {
            "$ref": "#/components/schemas/WarParticipant"
          },
          "conditions": {
            "$ref": "#/components/schemas/WarCondition"
          },
          "conditionType": {
            "type": "string",
            "description": "Logique d'application des conditions (AND: toutes requises, OR: une seule requise)",
            "example": "AND",
            "enum": [
              "OR",
              "AND"
            ]
          },
          "rewards": {
            "$ref": "#/components/schemas/WarRewards"
          },
          "assaults": {
            "type": "array",
            "description": "Liste des assauts ayant eu lieu durant la guerre",
            "items": {
              "$ref": "#/components/schemas/WarAssault"
            }
          },
          "missiles": {
            "type": "array",
            "description": "Liste des missiles lancés durant la guerre",
            "items": {
              "$ref": "#/components/schemas/WarMissile"
            }
          }
        },
        "description": "Détails d'une guerre"
      },
      "WarMissile": {
        "type": "object",
        "properties": {
          "launchedAt": {
            "type": "integer",
            "description": "Timestamp (ms) du lancement du missile",
            "format": "int64",
            "example": 1735696800000
          },
          "missile": {
            "type": "string",
            "description": "Type de missile lancé",
            "example": "Sonic"
          },
          "missilePoints": {
            "type": "integer",
            "description": "Points de missile consommés pour ce lancement",
            "format": "int32",
            "example": 4
          },
          "launcher": {
            "type": "string",
            "description": "Joueur ayant lancé le missile",
            "example": "Romaindu35"
          },
          "launcherCountry": {
            "type": "string",
            "description": "Pays du joueur ayant lancé le missile",
            "example": "Papouasie"
          }
        },
        "description": "Détails d'un missile lancé"
      },
      "WarParticipant": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "Nom du pays participant",
            "example": "TerreSigny"
          },
          "remainingMissilesPoints": {
            "type": "integer",
            "description": "Points de missile restants utilisables par le pays",
            "format": "int32",
            "example": 100
          },
          "inactivity": {
            "type": "integer",
            "description": "Pourcentage d'inactivité du pays. Augmente de 3% si les critères de connexion ne sont pas remplis pendant 2h",
            "format": "int32",
            "example": 12
          },
          "progress": {
            "type": "number",
            "description": "Pourcentage de progression vers la validation des conditions de victoire (0-100%). À 100%, le pays gagne",
            "format": "double",
            "example": 45.5
          },
          "condition": {
            "$ref": "#/components/schemas/WarCondition"
          }
        },
        "description": "Détails d'un pays participant à la guerre"
      },
      "WarRewards": {
        "type": "object",
        "properties": {
          "dollars": {
            "type": "integer",
            "description": "Montant en dollars gagné",
            "format": "int32",
            "example": 50000
          },
          "power": {
            "type": "integer",
            "description": "Points de power gagnés",
            "format": "int32",
            "example": 10
          },
          "claims": {
            "type": "integer",
            "description": "Nombre de claims (territoires) gagnés",
            "format": "int32",
            "example": 3
          },
          "peace": {
            "type": "integer",
            "description": "Nombre de jours de trêve forcée après la guerre pendant lesquels les pays ne peuvent plus s'attaquer",
            "format": "int32",
            "example": 7
          }
        },
        "description": "Récompenses accordées au pays vainqueur de la guerre"
      },
      "Skill": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SkillEntry"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "SkillEntry": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Le pseudonyme du joueur",
            "example": "Romaindu35"
          },
          "builder": {
            "type": "integer",
            "description": "XP du joueur dans le métier de Builder. Paliers: Niveau 1: 5000 XP, Niveau 2: 20000 XP, Niveau 3: 50000 XP, Niveau 4: 100000 XP, Niveau 5: 200000 XP",
            "format": "int32",
            "example": 125000
          },
          "farmer": {
            "type": "integer",
            "description": "XP du joueur dans le métier d'Agriculteur (Farmer). Paliers: Niveau 1: 5000 XP, Niveau 2: 20000 XP, Niveau 3: 60000 XP, Niveau 4: 125000 XP, Niveau 5: 300000 XP",
            "format": "int32",
            "example": 75000
          },
          "hunter": {
            "type": "integer",
            "description": "XP du joueur dans le métier de Chasseur (Hunter). Paliers: Niveau 1: 5000 XP, Niveau 2: 20000 XP, Niveau 3: 50000 XP, Niveau 4: 100000 XP, Niveau 5: 200000 XP",
            "format": "int32",
            "example": 45000
          },
          "lumberjack": {
            "type": "integer",
            "description": "XP du joueur dans le métier de Bûcheron (Lumberjack). Paliers: Niveau 1: 5000 XP, Niveau 2: 20000 XP, Niveau 3: 50000 XP, Niveau 4: 100000 XP, Niveau 5: 200000 XP",
            "format": "int32",
            "example": 90000
          },
          "engineer": {
            "type": "integer",
            "description": "XP du joueur dans le métier d'Ingénieur (Engineer). Paliers: Niveau 1: 3500 XP, Niveau 2: 15000 XP, Niveau 3: 30000 XP, Niveau 4: 70000 XP, Niveau 5: 200000 XP",
            "format": "int32",
            "example": 50000
          },
          "miner": {
            "type": "integer",
            "description": "XP du joueur dans le métier de Mineur (Miner). Paliers: Niveau 1: 5000 XP, Niveau 2: 20000 XP, Niveau 3: 75000 XP, Niveau 4: 150000 XP, Niveau 5: 400000 XP",
            "format": "int32",
            "example": 180000
          },
          "builderPosition": {
            "type": "integer",
            "description": "Position du joueur dans le classement serveur de le métier de Builder (1 = premier du classement)",
            "format": "int32",
            "example": 15
          },
          "farmerPosition": {
            "type": "integer",
            "description": "Position du joueur dans le classement serveur de le métier d'Agriculteur (1 = premier du classement)",
            "format": "int32",
            "example": 23
          },
          "hunterPosition": {
            "type": "integer",
            "description": "Position du joueur dans le classement serveur de le métier de Chasseur (1 = premier du classement)",
            "format": "int32",
            "example": 8
          },
          "lumberjackPosition": {
            "type": "integer",
            "description": "Position du joueur dans le classement serveur de le métier de Bûcheron (1 = premier du classement)",
            "format": "int32",
            "example": 12
          },
          "engineerPosition": {
            "type": "integer",
            "description": "Position du joueur dans le classement serveur de le métier d'Ingénieur (1 = premier du classement)",
            "format": "int32",
            "example": 31
          },
          "minerPosition": {
            "type": "integer",
            "description": "Position du joueur dans le classement serveur de le métier de Mineur (1 = premier du classement)",
            "format": "int32",
            "example": 5
          }
        },
        "description": "Skills d'un joueur"
      },
      "CountryResearchEntry": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "Nom du pays",
            "example": "Lituanie"
          },
          "researchesLevels": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "description": "Niveaux actuels de R&D par branche",
              "format": "int32"
            },
            "description": "Niveaux actuels de R&D par branche",
            "example": {
              "general": 11,
              "resource": 15,
              "industry": 12,
              "military": 5,
              "technology": 6
            }
          },
          "lastResearch": {
            "$ref": "#/components/schemas/LastResearchEntry"
          },
          "researchesConditionsValues": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "description": "Valeurs actuelles des conditions de recherche. Celles-ci sont globales",
              "format": "double"
            },
            "description": "Valeurs actuelles des conditions de recherche. Celles-ci sont globales",
            "example": {
              "vote": 10924,
              "block_break": 20919114,
              "block_place": 3799270
            }
          }
        },
        "description": "Données de R&D pour un pays"
      },
      "LastResearchEntry": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "description": "Nom de la branche",
            "example": "technology"
          },
          "level": {
            "type": "integer",
            "description": "Niveau atteint",
            "format": "int32",
            "example": 6
          },
          "timestamp": {
            "type": "integer",
            "description": "Timestamp de complétion (epoch milliseconds)",
            "format": "int64",
            "example": 1739864326118
          }
        },
        "description": "Dernière recherche complétée par un pays"
      },
      "ResearchServer": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryResearchEntry"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "PlayerList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlayerListEntry"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "PlayerListEntry": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Le pseudonyme du joueur",
            "example": "Romaindu35"
          },
          "country": {
            "type": "string",
            "description": "Le pays du joueur, écrit en toutes lettres. Si le joueur est sans pays, la chaine retourné sera vide",
            "example": "France"
          },
          "power": {
            "type": "integer",
            "description": "Le power actuel du joueur",
            "format": "int32",
            "example": 12
          },
          "powerMax": {
            "type": "integer",
            "description": "Le power maximum atteignable par le joueur",
            "format": "int32",
            "example": 25
          },
          "playtime": {
            "type": "integer",
            "description": "Le temps de jeu total du joueur sur le serveur (en secondes)",
            "format": "int32",
            "example": 3600
          },
          "lastLogin": {
            "type": "integer",
            "description": "Le timestamp de la dernière connexion du joueur. Le timestamp est ici exprimé en secondes et correspond au nombre de secondes écoulées depuis le 1er janvier 1970, minuit UTC",
            "format": "int64",
            "example": 1760939974755
          }
        }
      },
      "NoelMegagift2025": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NoelMegagift2025Entry"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "NoelMegagift2025Entry": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Le pseudo du joueur ayant réalisé le tirage",
            "example": "Paskap"
          },
          "server": {
            "type": "string",
            "description": "Le serveur sur lequel le méga cadeau a été ouvert",
            "example": "red"
          },
          "timestamp": {
            "type": "integer",
            "description": "Timestamp du moment où le tirage a été effectué (en ms)",
            "format": "int64",
            "example": 1766179080000
          },
          "loots": {
            "type": "array",
            "description": "Liste des items obtenus par le joueur lors du tirage",
            "example": [
              "Multi Outil",
              "Hâche Guerrier de Glace",
              "Plan - Fusée spatiale",
              "Hâche Guerrier de Glace Légendaire"
            ],
            "items": {
              "type": "string",
              "description": "Liste des items obtenus par le joueur lors du tirage",
              "example": "[\"Multi Outil\",\"Hâche Guerrier de Glace\",\"Plan - Fusée spatiale\",\"Hâche Guerrier de Glace Légendaire\"]"
            }
          }
        },
        "description": "Données d'un tirage du méga cadeau de Noël 2025"
      },
      "NoelMegagift2024": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NoelMegagift2024Entry"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "NoelMegagift2024Entry": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Le pseudo du joueur ayant réalisé le tirage",
            "example": "Mat4628149"
          },
          "server": {
            "type": "string",
            "description": "Le serveur sur lequel le méga cadeau a été ouvert",
            "example": "orange"
          },
          "timestamp": {
            "type": "integer",
            "description": "Timestamp du moment où le tirage a été effectué (en ms)",
            "format": "int64",
            "example": 1736710460000
          },
          "loots": {
            "type": "array",
            "description": "Liste des items obtenus par le joueur lors du tirage",
            "example": [
              "Laser Spartan Blanc",
              "Hache Guerrier de Glace",
              "Bouclier Soldat Hiver",
              "Plan T4"
            ],
            "items": {
              "type": "string",
              "description": "Liste des items obtenus par le joueur lors du tirage",
              "example": "[\"Laser Spartan Blanc\",\"Hache Guerrier de Glace\",\"Bouclier Soldat Hiver\",\"Plan T4\"]"
            }
          }
        },
        "description": "Données d'un tirage du méga cadeau de Noël 2024"
      },
      "Halloween2025": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Halloween2025Entry"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "Halloween2025Entry": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Le nom d'utilisateur du joueur",
            "example": "Romaindu35"
          },
          "demonsKilled": {
            "type": "integer",
            "description": "Nombre de démons tués dans le Nether",
            "format": "int32",
            "example": 450
          },
          "tickets": {
            "type": "integer",
            "description": "Nombre de tickets obtenus pour la tombola finale. 1 ticket est obtenu toutes les 200 âmes collectées, avec des tickets bonus pour le top 10 des chasseurs d'âmes",
            "format": "int32",
            "example": 15
          },
          "lostSoulsCount": {
            "type": "integer",
            "description": "Nombre d'âmes égarées retrouvées dans les capitales (/spawn) des différents serveurs",
            "format": "int32",
            "example": 87
          },
          "extractedSouls": {
            "type": "integer",
            "description": "Nombre de points gagnés par le joueur en battant les démons du Nether (Démon de niveau 1: 1 âme, de niveau 2: 4 âmes, de niveau 3: 40 âmes)",
            "format": "int32",
            "example": 1250
          },
          "lostSouls": {
            "type": "integer",
            "description": "Nombre de points gagnés par le joueur en retrouvant les âmes égarées dans les capitales",
            "format": "int32",
            "example": 520
          }
        },
        "description": "Statistiques individuelles d'un joueur pour l'événement Halloween 2025"
      },
      "Coords": {
        "type": "object",
        "properties": {
          "x": {
            "type": "integer",
            "description": "Coordonnée X",
            "format": "int32",
            "example": 1250
          },
          "y": {
            "type": "integer",
            "description": "Coordonnée Y",
            "format": "int32",
            "example": 64
          },
          "z": {
            "type": "integer",
            "description": "Coordonnée Z",
            "format": "int32",
            "example": -850
          }
        },
        "description": "Coordonnées"
      },
      "Enterprise": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnterpriseEntry"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "EnterpriseBank": {
        "type": "object",
        "properties": {
          "bank": {
            "type": "number",
            "description": "Solde bancaire actuel (positif ou nul)",
            "format": "double",
            "example": 325331
          },
          "flux14Days": {
            "type": "number",
            "description": "Flux bancaire des 14 derniers jours",
            "format": "double",
            "example": 142595
          },
          "inProgressContracts": {
            "type": "number",
            "description": "Montant des contrats en cours (positif ou nul)",
            "format": "double",
            "example": 136856
          },
          "salaries14Days": {
            "type": "number",
            "description": "Salaires versés sur 14 jours (négatif ou nul)",
            "format": "double",
            "example": -71785
          },
          "taxes14Days": {
            "type": "number",
            "description": "Taxes payées sur 14 jours (négatif ou nul)",
            "format": "double",
            "example": -97.7
          },
          "logs": {
            "type": "array",
            "description": "Historique des transactions",
            "items": {
              "$ref": "#/components/schemas/EnterpriseBankLog"
            }
          }
        },
        "description": "Informations bancaires d'une entreprise"
      },
      "EnterpriseBankLog": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Type de transaction",
            "example": "tax"
          },
          "amount": {
            "type": "number",
            "description": "Montant de la transaction (positif si ajout d'argent, négatif si retrait) ",
            "format": "double",
            "example": 74.5
          },
          "timestamp": {
            "type": "integer",
            "description": "Timestamp de la transaction",
            "format": "int64",
            "example": 1763258552178
          }
        },
        "description": "Transaction dans les logs de l'entreprise"
      },
      "EnterpriseBasic": {
        "type": "object",
        "description": "Entreprise basique (sans données spécifiques)",
        "allOf": [
          {
            "$ref": "#/components/schemas/EnterpriseBase"
          }
        ]
      },
      "EnterpriseBet": {
        "type": "object",
        "description": "Entreprise de paris",
        "allOf": [
          {
            "$ref": "#/components/schemas/EnterpriseBase"
          },
          {
            "type": "object",
            "properties": {
              "bets": {
                "type": "array",
                "description": "Liste des paris actifs",
                "items": {
                  "$ref": "#/components/schemas/EnterpriseBetItem"
                }
              },
              "betsRewardRedistributed": {
                "type": "integer",
                "description": "L'argent redistribuées suite aux paris",
                "format": "int32",
                "example": 225208
              },
              "betTotal": {
                "type": "integer",
                "description": "Nombre total de paris réalisés",
                "format": "int32",
                "example": 50
              },
              "betActive": {
                "type": "integer",
                "description": "Nombre de paris actuellement actifs",
                "format": "int32",
                "example": 5
              }
            }
          }
        ]
      },
      "EnterpriseBetItem": {
        "type": "object",
        "properties": {
          "deadlineTime": {
            "type": "integer",
            "description": "Timestamp de fin du pari",
            "format": "int64",
            "example": 1766837968789
          },
          "minBet": {
            "type": "integer",
            "description": "Mise minimale (en dollar)",
            "format": "int32",
            "example": 100
          },
          "numberOfPlayers": {
            "type": "integer",
            "description": "Nombre de joueurs ayant parié",
            "format": "int32",
            "example": 42
          },
          "title": {
            "type": "string",
            "description": "Titre du pari",
            "example": "Qui gagnera la coupe du monde ?"
          },
          "option1": {
            "type": "string",
            "description": "Première option",
            "example": "France"
          },
          "option2": {
            "type": "string",
            "description": "Deuxième option",
            "example": "Espagne"
          },
          "status": {
            "type": "string",
            "description": "Statut du pari",
            "example": "done"
          }
        },
        "description": "Pari proposé par une entreprise"
      },
      "EnterpriseCasino": {
        "type": "object",
        "description": "Entreprise casino",
        "allOf": [
          {
            "$ref": "#/components/schemas/EnterpriseBase"
          },
          {
            "type": "object",
            "properties": {
              "history": {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "description": "Historique des bénéfices du casino par date",
                  "format": "double"
                },
                "description": "Historique des bénéfices du casino par date"
              },
              "benefAverage": {
                "type": "number",
                "description": "Bénéfice moyen (par jours)",
                "format": "double",
                "example": 5000
              },
              "totalPlay": {
                "type": "number",
                "description": "Sommes totale jouée",
                "format": "double",
                "example": 704636
              },
              "winPercent": {
                "type": "number",
                "description": "Taux de redistribution des gains (en pourcentage)",
                "format": "double",
                "example": 48.5
              },
              "totalWin": {
                "type": "number",
                "description": "Somme totale des gains distribuées aux joueurs",
                "format": "double",
                "example": 121250
              }
            }
          }
        ]
      },
      "EnterpriseElectric": {
        "type": "object",
        "description": "Entreprise électrique",
        "allOf": [
          {
            "$ref": "#/components/schemas/EnterpriseBase"
          },
          {
            "type": "object",
            "properties": {
              "total": {
                "type": "number",
                "description": "Électricité totale distribué (MJ)",
                "format": "double",
                "example": 785492
              },
              "available": {
                "type": "number",
                "description": "Électricité disponible (MJ)",
                "format": "double",
                "example": 459.799
              },
              "allowCountry": {
                "type": "boolean",
                "description": "Autoriser la vente au pays",
                "example": true
              },
              "allowAlly": {
                "type": "boolean",
                "description": "Autoriser la vente aux alliés",
                "example": true
              },
              "allowAll": {
                "type": "boolean",
                "description": "Autoriser la vente à tous",
                "example": false
              },
              "associatedCountry": {
                "type": "string",
                "description": "Pays associé (semble être le pays du chef de l'entreprise)",
                "example": "Papouasie"
              },
              "price": {
                "type": "number",
                "description": "Prix actuel de l'électricité ($/GJ)",
                "format": "double",
                "example": 2.5
              },
              "priceAverage": {
                "type": "number",
                "description": "Prix moyen, à l'échelle du serveur ($/GJ)",
                "format": "double",
                "example": 8709
              },
              "countriesSell": {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "description": "Ventes par pays",
                  "format": "double"
                },
                "description": "Ventes par pays"
              },
              "historyGenerated": {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "description": "Historique de l'électricité vendue",
                  "format": "double"
                },
                "description": "Historique de l'électricité vendue"
              },
              "historyCollected": {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "description": "Historique de l'électricité générée/collectée par les collecteurs",
                  "format": "double"
                },
                "description": "Historique de l'électricité générée/collectée par les collecteurs"
              }
            }
          }
        ]
      },
      "EnterpriseEntry": {
        "type": "object",
        "description": "Données d'une entreprise (différentes versions selon le type)",
        "discriminator": {
          "propertyName": "type"
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/EnterpriseBet"
          },
          {
            "$ref": "#/components/schemas/EnterpriseCasino"
          },
          {
            "$ref": "#/components/schemas/EnterpriseElectric"
          },
          {
            "$ref": "#/components/schemas/EnterpriseFarm"
          },
          {
            "$ref": "#/components/schemas/EnterpriseRealEstate"
          },
          {
            "$ref": "#/components/schemas/EnterprisePetrol"
          },
          {
            "$ref": "#/components/schemas/EnterpriseTrader"
          },
          {
            "$ref": "#/components/schemas/EnterpriseBasic"
          }
        ]
      },
      "EnterpriseFarm": {
        "type": "object",
        "description": "Entreprise agricole",
        "allOf": [
          {
            "$ref": "#/components/schemas/EnterpriseBase"
          },
          {
            "type": "object",
            "properties": {
              "histories": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "number",
                    "description": "Historiques des ventes par céréale et date",
                    "format": "double"
                  },
                  "description": "Historiques des ventes par céréale et date"
                },
                "description": "Historiques des ventes par céréale et date"
              },
              "totalCollected": {
                "type": "integer",
                "description": "Poids total de céréale vendu depuis la création de l'entreprise (en kg)",
                "format": "int32",
                "example": 91788
              },
              "collectedCereal": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer",
                  "description": "Poids total de céréales collectées (pour chaque céréale)",
                  "format": "int32"
                },
                "description": "Poids total de céréales collectées (pour chaque céréale)"
              }
            }
          }
        ]
      },
      "EnterprisePermission": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nom de la permission",
            "example": "exclude"
          },
          "owner": {
            "type": "boolean",
            "description": "Si le chef de l'entreprise peut utiliser cette permission",
            "example": true
          },
          "cadre": {
            "type": "boolean",
            "description": "Si les cadres peuvent utiliser cette permission",
            "example": true
          },
          "employee": {
            "type": "boolean",
            "description": "Si les employés peuvent utiliser cette permission",
            "example": false
          }
        },
        "description": "Les permission associé à une entreprise"
      },
      "EnterprisePetrol": {
        "type": "object",
        "description": "Entreprise pétrolière",
        "allOf": [
          {
            "$ref": "#/components/schemas/EnterpriseBase"
          },
          {
            "type": "object",
            "properties": {
              "historyGenerated": {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "description": "Historique du pétrole vendue",
                  "format": "double"
                },
                "description": "Historique du pétrole vendue"
              },
              "historyCollected": {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "description": "Historique du pétrole collectée",
                  "format": "double"
                },
                "description": "Historique du pétrole collectée"
              },
              "total": {
                "type": "integer",
                "description": "Total du pétrole distribué (L)",
                "format": "int32",
                "example": 17985
              },
              "available": {
                "type": "integer",
                "description": "Pétrole disponible (L)",
                "format": "int32",
                "example": 559
              },
              "allowCountry": {
                "type": "boolean",
                "description": "Autoriser la vente au pays",
                "example": true
              },
              "allowAlly": {
                "type": "boolean",
                "description": "Autoriser la vente aux alliés",
                "example": true
              },
              "allowAll": {
                "type": "boolean",
                "description": "Autoriser la vente à tous",
                "example": false
              },
              "associatedCountry": {
                "type": "string",
                "description": "Pays associé (semble être le pays du chef de l'entreprise)",
                "example": "France"
              },
              "price": {
                "type": "integer",
                "description": "Prix actuel du pétrole ($/100L)",
                "format": "int32",
                "example": 580
              },
              "priceAverage": {
                "type": "integer",
                "description": "Prix moyen, à l'échelle du serveur ($/100L)",
                "format": "int32",
                "example": 12569
              }
            }
          }
        ]
      },
      "EnterpriseRealEstate": {
        "type": "object",
        "description": "Entreprise immobilière",
        "allOf": [
          {
            "$ref": "#/components/schemas/EnterpriseBase"
          },
          {
            "type": "object",
            "properties": {
              "parcelles": {
                "type": "array",
                "description": "Liste des parcelles de l'entreprise",
                "items": {
                  "$ref": "#/components/schemas/Parcelle"
                }
              }
            }
          }
        ]
      },
      "EnterpriseTrader": {
        "type": "object",
        "description": "Entreprise de trading",
        "allOf": [
          {
            "$ref": "#/components/schemas/EnterpriseBase"
          },
          {
            "type": "object",
            "properties": {
              "history": {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "description": "Historique des rendements journaliers par date",
                  "format": "double"
                },
                "description": "Historique des rendements journaliers par date"
              },
              "totalGenerated": {
                "type": "integer",
                "description": "Argent total généré",
                "format": "int32",
                "example": 185561
              },
              "sumInvestment": {
                "type": "number",
                "description": "Somme totale investie par l'ensemble des investisseurs",
                "format": "float",
                "example": 250000.5
              },
              "totalInvestors": {
                "type": "integer",
                "description": "Nombre total d'investisseurs",
                "format": "int32",
                "example": 24
              }
            }
          }
        ]
      },
      "Parcelle": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nom de la parcelle",
            "example": "Villa du Lac"
          },
          "clientName": {
            "type": "string",
            "description": "Nom du locataire",
            "example": "Romaindu35"
          },
          "isStaff": {
            "type": "boolean",
            "example": false
          },
          "price": {
            "type": "integer",
            "description": "Prix de location (par jour)",
            "format": "int32",
            "example": 150
          },
          "signCoords": {
            "$ref": "#/components/schemas/Coords"
          },
          "status": {
            "type": "string",
            "description": "Statut de location de la parcelle",
            "example": "rent"
          },
          "daysRent": {
            "type": "integer",
            "description": "Nombre de jours de location restants",
            "format": "int32",
            "example": 15
          }
        },
        "description": "Parcelle immobilière"
      },
      "ActionEntry": {
        "type": "object",
        "properties": {
          "owner": {
            "type": "string",
            "description": "Pays propriétaire de l'action"
          },
          "status": {
            "type": "string",
            "description": "Statut de l'action",
            "enum": [
              "LOCKED",
[...]
